<meta charset="utf-8">
{% extends "base_page.html" %}

{% block script %}
	<script src="/static/js/apps/cadastros/tipohora/tipohora.js"></script>
	<script src="/static/js/apps/cadastros/tipohora/tipohora-services.js"></script>
	<script src="/static/js/commons/commons.js"></script>
	<script src="/static/js/angular/ui-bootstrap-tpls-2.2.0.min.js"></script>
	<script src="/static/js/jquery/priceformat/jquery.priceformat.min.js"></script>
{% endblock %}

{%block content%}

{%verbatim%}

<style>
	table tr {
    	cursor: pointer;
	}
	button.margin {
		margin-bottom: 1em;
	}
	span.red { 
   		color:red;
  	}
</style>

<h1>Tipo hora</h1>

<form  name="tipohora" ng-app="tipohora" ng-controller="TipoHoraController as $ctrl" ng-show="$ctrl.show" class="ng-hide">
  <div class="panel panel-default form-group-sm" >
	  <div class="panel-body">
		  <div class="form-group">
		    <label for="descricao">Tipo hora</label>
		    <input type="text" class="form-control" id="descricao" name="descricao" ng-model="$ctrl.tipohora.descricao" placeholder="Tipo hora" required>
		    <span class="red" ng-show="tipohora.descricao.$invalid">Tipo hora é obrigatório.</span>
		  </div>
		  <button type="button" class="btn btn-default margin" ng-click="$ctrl.salvar()" ng-disabled="tipohora.$invalid">Salvar</button>
		  <div class="label {{$ctrl.clazz}}" ng-bind="$ctrl.message" ></div>
		  
		  <table class="table table-responsive table-bordered table-striped table-highlight" ng-show="$ctrl.tipohoralist">
				<thead>
				    <th>Tipo hora</th>
				    <th></th>
				</thead>
				<tbody>
				    <tr ng-repeat="tipohora in $ctrl.tipohoralist" ng-click="$ctrl.editar(tipohora);">
				        <td class="col-sm-12">{{tipohora.descricao}}</td>
				        <td>
				       		<button type="button" class="btn btn-default" ng-click="$ctrl.deletar(tipohora)">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
				        </td>
				    </tr>
				</tbody>
		   </table>
					 
	 </div>
  </div>
</form>

{%endverbatim%}

{%endblock%}