<meta charset="utf-8">
{% extends "base_page.html" %}
{%block content%}

<h1>Funcionário</h1>

<form action="{% url 'recursos:gravar' %}" method="post">
  {% csrf_token %} 
  <input type="hidden" name="id" value="{{funcionario.id}}"/>
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" name="nome" value="{{funcionario.nome}}" placeholder="CNPJ">
  </div>
  <div class="form-group">
    <label for="endereco">Endereço</label>
    <input type="text" class="form-control" id="endereco" name="endereco" value="{{funcionario.endereco}}" placeholder="Endereço">
  </div>
  <div class="form-group">
    <label for="cidade">Cidade</label>
    <input type="text" class="form-control" id="cidade" name="cidade" value="{{funcionario.cidade}}" placeholder="Cidade">
  </div>
  <div class="form-group">
    <label for="estado">Estado</label>
    <input type="text" class="form-control" id="estado" name="estado" value="{{funcionario.estado}}" placeholder="Estado">
  </div>
  <div class="form-group">
    <label for="cep">CEP</label>
    <input type="text" class="form-control" id="cep" name="cep" value="{{funcionario.cep}}" placeholder="CEP">
  </div>
  <div class="form-group">
    <label for="salario">Salário</label>
    <input type="text" class="form-control" id="salario" name="salario" value="{{funcionario.salario}}" placeholder="Salário">
  </div>
  <button type="submit" class="btn btn-default" name="gravar">Gravar</button>
  {% if funcionario.id %}
  	<button type="submit" class="btn btn-default" name="deletar">Deletar</button>
  {% endif %}
</form>

{%endblock%}