<meta charset="utf-8">
{% extends "base_page.html" %}


{% block script %}

	<script src="/static/js/apps/inicial/inicial.js"></script>
	<script src="/static/js/apps/inicial/inicial-services.js"></script>
	<script src="/static/js/apps/cadastros/tipoalocacao/tipoalocacao-services.js"></script>
	
	<script type="text/javascript">
	  	angular.bootstrap(document.getElementById('first_page'), ['inicial']);
  	</script>
{% endblock %}

{% block content %}

<style>
	div.atividade {
		border: 1px solid #ddd;
		border-top-color: white;
		height: 22px;
		vertical-align: middle;
		line-height: 20px;
	}

	div.atividade_atrasada {
	    background-color: #dd2c00;
    	color: #ffffff;
    	border-color: #dd2c00;
	}
	.table>tbody>tr>td {
		margin: 0;
		padding: 0
	}
	
	button.expandir {
		width: 18px;
	    padding: 0;
	    margin: 0;
	    height: 17px;
	    line-height: 1.4
	}
	
	.panel-default { 
		border-color: transparent;
	}
	
	.panel-default>.panel-heading { 
		background-color: transparent;
		border-color: transparent; 
	}
	
</style>

{%verbatim%}

<div id="first_page" class="ng-hide" ng-controller="InicialController as $ctrl" ng-show="$ctrl.show">

	<fieldset ng-repeat="cliente in $ctrl.clientes">
		<legend>{{cliente.nome_fantasia}}</legend>
		
		<div class="panel panel-default" style="margin-bottom: 5px; margin-top: 0px;">
			<div class="panel-heading" style="height: 22px; padding:2px; font-style: italic;">
				<div class="col-sm-1" style="width: 1px;"></div>
				<div class="col-sm-5"><strong>Demanda</strong></div>
				<div class="col-sm-2"><strong>Código no cliente</strong></div>
				<div class="col-sm-2"><strong>Status</strong></div>
			</div>
		</div>
		
		<div class="panel panel-default" style="margin-bottom: 0px; margin-top: 0px;" ng-repeat="demanda in cliente.demandas">
				<div class="panel-heading" style="height: 22px; padding:2px">
					<div class="col-sm-1" style="width: 1px;">
						<button type="button" class="btn btn-sm btn-default expandir" ng-click="$ctrl.expandir(demanda);">{{!$ctrl.demandamap[demanda.$$hashKey].expandir ? '+' : '-'}}</button>
					</div>
					<div class="col-sm-5">{{demanda.id}} - {{demanda.nome_demanda}}</div>
					<div class="col-sm-2">{{demanda.codigo_demanda}}</div>
					<div class="col-sm-2">
						{{demanda.status_demanda == 'O' ? 'Em orçamentação' : ''}}
						{{demanda.status_demanda == 'A' ? 'Aguardando aprovação' : ''}}
						{{demanda.status_demanda == 'N' ? 'Não aprovada' : ''}}
						{{demanda.status_demanda == 'C' ? 'Cancelada' : ''}}
						{{demanda.status_demanda == 'H' ? 'Em homologação' : ''}}
						{{demanda.status_demanda == 'I' ? 'Implantada' : ''}}
						{{demanda.status_demanda == 'D' ? 'Em desenvolvimento' : ''}}
					</div>
				</div>
				<div class="panel-body" style="margin: 0 0 0 50px; padding: 0 0 0 0;" ng-show="$ctrl.demandamap[demanda.$$hashKey].expandir">
					<table class="table ">
						<thead>
							<tr style="font-style: italic;">
								<td><b>Fase</b></td>
								<td><b>Atividade</b></td>
								<td><b>Data inicio</b></td>
								<td><b>Data fim</b></td>
								<td><b>Horas prev.</b></td>
								<td><b>Horas aloc.</b></td>
								<td style="text-align: center;"><b>%</b></td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="fase_atividade in demanda.fase_atividades">
								<td style="width: 1%"><div style="width: 150px">{{fase_atividade.fase.descricao}}</div></td>
								<td><div class="atividade" ng-repeat="atividade in fase_atividade.atividades" ng-click="$ctrl.abrirmodalalocacao($event, atividade);">{{atividade.descricao}}</div></td>
								<td style="width: 1%"><div class="atividade" style="width: 69px; text-align: center;" ng-repeat="atividade in fase_atividade.atividades">{{atividade.data_inicio}}</div></td>
								<td style="width: 1%"><div class="atividade" style="width: 69px; text-align: center;" ng-repeat="atividade in fase_atividade.atividades">{{atividade.data_fim}}</div></td>
								<td style="width: 1%"><div class="atividade" style="width: 93px; text-align: center;" ng-repeat="atividade in fase_atividade.atividades">{{atividade.atividade_profissional.quantidade_horas}}</div></td>
								<td style="width: 1%"><div class="atividade" style="width: 94px; text-align: center;" ng-class="{atividade_atrasada: atividade.atividade_profissional.atrasado}" ng-repeat="atividade in fase_atividade.atividades">{{atividade.atividade_profissional.horas_alocadas}}</div></td>
								<td style="width: 1%"><div class="atividade" style="width: 40px; text-align: center;" ng-repeat="atividade in fase_atividade.atividades">{{atividade.atividade_profissional.percentual_concluido}}</div></td>
							</tr>
						</tbody>
					</table>
				</div>
		</div>
	</fieldset>

</div>

{%endverbatim%}

{% endblock %}