<meta charset="utf-8">
{%verbatim%}
<div class="col-sm-12" ng-controller="AtividadeController as $ctrl">

	<button class="btn btn-sm btn-primary margin" ng-click="$ctrl.importaratividadesorcamento()">
		Importar
	</button>
	
	<style type="text/css">
		
		md-autocomplete md-autocomplete-wrap {
			height: 26px;
			border-radius: 5px
		}
		
		md-autocomplete input:not(.md-input) {
			height: 26px;
			font-size: 12px;
			padding-right: 0px
		}
		
		md-autocomplete {
			height: 26px;
			margin-top: 4px;
			border-radius: 5px
		}
		
		div.modal-funcionario {
			position: absolute;
    		z-index: 1;
    		background-color: beige;
    		border-color: black;
    		border: 1px solid #ccc;
    		padding: 5px;
    		right: 43px
    	}
		
	</style>
	
	<form name="atividades">
		<table class="table table-sm table-bordered table-striped table-highlight">
			<thead>	
				<tr>
					<td style="width: 1%">
						<div style="width: 200px">
							Fase
							<button class="btn btn-primary button-heading" ng-click="$ctrl.adicionarfase()" style="float:right;">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</div>
					</td>
					<td>
						Atividades
					</td>
					<td style="width: 1%">
					</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="fase_atividade in $ctrl.share.demanda.fase_atividades" ng-show="!fase_atividade.remover">
					<td>
						<select class="form-control" ng-model="fase_atividade.fase.id" ng-options="f.id as f.descricao for f in $ctrl.listafases" required>
				    		<option value="">Selecione uma fase...</option>
				    	</select>
						<div>
							Responsável
							<select ng-model="fase_atividade.responsavel.id" class="form-control" ng-options="p.id as p.pessoa.nome_razao_social for p in $ctrl.listagestores">
								<option value="">Selecione...</option>
							</select>
						</div>
						<div>
							Data inicio 
							<input type="text" class="form-control" ng-model="fase_atividade.data_inicio" ui-mask="99/99/9999" model-view-value="true" required  disabled/>
						</div>
						<div>
							Data fim
							<input type="text" class="form-control" ng-model="fase_atividade.data_fim" ui-mask="99/99/9999" model-view-value="true" required  disabled/>
						</div>
					</td>
					<td>
						<button class="btn btn-primary button-heading" ng-click="$ctrl.adicionaratividade(fase_atividade)" style="float:right;">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
						<table class="table table-sm table-bordered table-striped table-highlight" ng-repeat="atividade in fase_atividade.atividades" ng-show="!atividade.remover">
							<thead>
								<tr class="active">
									<td>Atividade</td>
									<td style="width: 1%;">Data inicio</td>
									<td style="width: 1%;">Data fim</td>
									<td style="width: 1%;">
										<div style="width: 180px">
											Profissional
											<button class="btn btn-primary button-heading" ng-click="$ctrl.abrirmodalfuncionarios(atividade)" style="margin-right:2px; float:right;">
												<span class="glyphicon glyphicon-collapse-down"></span>
											</button>
											<div class="modal-funcionario" ng-show="$ctrl.modalatividademap[atividade.$$hashKey].ativo">
												<div>
													<button class="btn btn-primary button-heading" ng-click="$ctrl.fecharmodalfuncionario(atividade)" style="margin-right:2px; float:right;">
														<span class="glyphicon glyphicon-remove"></span>
													</button>
												</div>
												<div ng-repeat="f in $ctrl.share.listafuncionarios">
													<input type="checkbox" ng-model="$ctrl.modalatividademap[atividade.$$hashKey][f.id]" ng-change="$ctrl.adicionarremoverprofissional(atividade, f)"> {{f.pessoa.nome_razao_social}}
												</div>
											</div>
										</div>
									</td>
									<td style="width: 1%;">
										<div style="width: 86px">
											Horas alocadas
										</div>
									</td>
									<td style="width: 1%;">
									</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<input type="text" class="form-control input-sm" ng-model="atividade.descricao" required/>
									</td>
									<td>
										<div class="form-group" style="width: 119px; display: table;">
											<input type="text" class="form-control input-sm" uib-datepicker-popup="dd/MM/yyyy" ui-mask="99/99/9999" model-view-value="true" ng-model="atividade.data_inicio" is-open="$ctrl.modalatividademap[atividade.$$hashKey].data_inicio" ng-change="$ctrl.alteracaodataatividade(fase_atividade, atividade, 'data_inicio', '{{atividade.data_inicio}}')" ng-required="true" current-text="Hoje" clear-text="Limpar" close-text="Fechar"/>
											<span class="input-group-btn">
												<button type="button" class="btn btn-default" ng-click="$ctrl.abrirmodaldatainicio(atividade)"><i class="glyphicon glyphicon-calendar"></i></button>
											</span>
										</div>
									</td>
									<td>
										<div class="form-group" style="width: 119px; display: table;">
											<input type="text" class="form-control input-sm" uib-datepicker-popup="dd/MM/yyyy" ui-mask="99/99/9999" model-view-value="true" ng-model="atividade.data_fim" is-open="$ctrl.modalatividademap[atividade.$$hashKey].data_fim" ng-change="$ctrl.alteracaodataatividade(fase_atividade, atividade, 'data_inicio', '{{atividade.data_inicio}}')" ng-required="true" current-text="Hoje" clear-text="Limpar" close-text="Fechar"/>
											<span class="input-group-btn">
												<button type="button" class="btn btn-default" ng-click="$ctrl.abrirmodaldatafim(atividade)"><i class="glyphicon glyphicon-calendar"></i></button>
											</span>
										</div>
									</td>
									<td>
										<span ng-repeat="atividadeprofissional in atividade.atividadeprofissionais" ng-show="!atividadeprofissional.remover">
									    	<md-autocomplete required md-selected-item="atividadeprofissional.pessoa_fisica" ng-disabled="true" md-search-text="$ctrl.atividadeprofissionalmap[atividadeprofissional.$$hashKey].text" md-selected-item-change="$ctrl.limparlistaatividadeprofissionallist()" md-search-text-change="$ctrl.buscarprofissional($ctrl.atividadeprofissionalmap[atividadeprofissional.$$hashKey].text, atividadeprofissional)" md-items="p in $ctrl.atividadeprofissionallist"  md-item-text="p.pessoa.nome_razao_social">
									    		<md-item-template>
											    	<span md-highlight-text="searchText">{{p.pessoa.nome_razao_social}}</span>
											  	</md-item-template>
											</md-autocomplete>
								    	</span>
									</td>
									<td>
										<span ng-repeat="atividadeprofissional in atividade.atividadeprofissionais" ng-show="!atividadeprofissional.remover">
											<input type="number" ng-model="atividadeprofissional.quantidade_horas" class="form-control" style="margin-top: 1px" required/>
										</span>
									</td>
									<td>
										<button type="button" class="btn btn-default" ng-click="$ctrl.remover(atividade)">
											<span class="glyphicon glyphicon-trash"></span>
										</button>
									</td>
								</tr>
							</tbody>		
						</table>
					</td>
					<td>
						<button type="button" class="btn btn-default" ng-click="$ctrl.remover(fase_atividade)">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
{%endverbatim%}