<meta charset="utf-8">
{%verbatim%}
<div class="margin-top">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#atividadesplanejada">Atividades planejadas</a></li>
		<li><a data-toggle="tab" href="#orcamentocliente">Orçamento no cliente</a></li>
	</ul>
	<div class="tab-content">
		{%endverbatim%}
		{% include "fragments/demanda_orcamento_atividade.html" %}
		{% include "fragments/demanda_orcamento_cliente.html" %}
		{%verbatim%}
	</div>
</div>
{%endverbatim%}