<meta charset="utf-8">
{%verbatim%}
<div id="atividadesplanejada" ng-controller="OrcamentoAtividadeController as $ctrl" class="tab-pane in active">
	
	<button class="btn btn-primary margin" ng-click="$ctrl.adicionarcoluna()">
		<span class="glyphicon glyphicon-plus"></span>Coluna
	</button>
	<button class="btn btn-primary margin" ng-click="$ctrl.adicionaratividade()">
		<span class="glyphicon glyphicon-plus"></span>Atividade
	</button>
	
	<table class="table table-sm table-bordered table-striped table-highlight">
		<thead>
			<tr>
				<td style="width: 1%">
					<div style="width: 140px">
						Fase
					</div>
				</td>
				<td width="50%">Atividade</td>
				<td ng-repeat="coluna in $ctrl.colunas" style="width: 1%">
					<div style="width: 101px">
						<select class="form-control combo-heading" style="width: 80px" ng-model="coluna.valor_hora.id" ng-change="$ctrl.validarcolunaalterada(coluna, {{coluna.valor_hora && coluna.valor_hora.id? coluna.valor_hora.id : 'null'}})" ng-options="v.id as v.descricao for v in $ctrl.listavalorhorab2card">
							<option value="">Selecione...</option>
						</select>
						<button class="btn btn-primary button-heading" ng-click="$ctrl.removercoluna(coluna)">
							<span class="glyphicon glyphicon-minus"></span>
						</button>
					</div>
				</td>
				<td style="width: 1%">
					<div style="width: 67px">
						Total
					</div>
				</td>
				<td style="width: 1%"></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="atividade in $ctrl.share.demanda.orcamento.orcamento_atividades" ng-show="!atividade.remover">
				<td>
					<select class="form-control" ng-model="atividade.fase.id" ng-options="f.id as f.descricao for f in $ctrl.listafases">
						<option value="">Selecione...</option>
					</select>
				</td>
				<td>
					<input type="text" ng-model="atividade.descricao" maxlength="100"  class="form-control"/>
				</td>
				<td ng-repeat="coluna in $ctrl.colunas">
					<input type="number"  class="form-control" ng-model="atividade.colunas[coluna.valor_hora.id].horas" ng-change="$ctrl.changecoluna()" ng-disabled="!coluna.valor_hora.id"/>
				</td>
				<td>
					<input type="text"  class="form-control" ng-model="atividade.total_horas" disabled/>
				</td>
				<td>
					<button class="btn btn-default" ng-click="$ctrl.remover(atividade); $ctrl.calculartotaiscolunas();">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</td>
			</tr>
		</tbody>
		<tfoot ng-show="$ctrl.share.demanda.orcamento.orcamento_atividades.length > 0">
			<tr>
				<td>
					<input type="text" class="form-control" value="Totais" disabled/>
				</td>
				<td ></td>
				<td ng-repeat="coluna in $ctrl.colunas" style="text-align: center;">
					<input type="text" class="form-control" ng-model="coluna.valor_total" disabled/>
				</td>
				<td>
					<input type="text" class="form-control" ng-model="$ctrl.total_colunas" disabled/>
				</td>
				<td></td>
			</tr>
		</tfoot>
	</table>
</div>
{%endverbatim%}