<meta charset="utf-8">
{%verbatim%}
<div id="orcamentocliente" ng-controller="OrcamentoClienteController as $ctrl" class="tab-pane">
	<div class="row">
		<div class="col-sm-3">
			<div>
				<div>
					<div class="cabecalho">
						Variáveis de cálculo
					</div>
					<div>
						<table class="table table-sm table-bordered">
							<tr>
								<td>
									% Margem de risco
								</td>
								<td>
									<input type="number" ng-model="$ctrl.share.demanda.orcamento.margem_risco" ng-change="$ctrl.alteracaoorcamento()"/>
								</td>
							</tr>
							<tr>
								<td>
									% Lucro desejado
								</td>
								<td>
									<input type="number" ng-model="$ctrl.share.demanda.orcamento.lucro_desejado" ng-change="$ctrl.alteracaoorcamento()"/>
								</td>
							</tr>
							<tr>
								<td>
									Despesas extras
								</td>
								<td style="position: relative;">
									<input type="text" style="width: 114px" disabled ng-model="$ctrl.share.demanda.orcamento.total_despesas"/>
									<div class="btn btn-sm btn-default" ng-click="$ctrl.abrirfecharmodaldespesas();">
										<span class="glyphicon glyphicon-plus"></span>
									</div>
									<div class="classe_modal" style="left: 122px" ng-show="$ctrl.modaldespesasextras">
										<div class="btn btn-primary button-heading" style="margin-right:2px; float:right;" ng-click="$ctrl.abrirfecharmodaldespesas();">
											<span class="glyphicon glyphicon-remove"></span>
										</div>
										<div ng-controller="ModalDespesasOrcamentoController as $ctrl" style="width: 800px">
											<table class="table table-sm">
												<thead>
													<tr>
														<th>
															Descrição
															<div class="btn btn-sm btn-primary" style="float: right;" ng-click="$ctrl.adicionardespesa();">
																<span class="glyphicon glyphicon-plus"></span>
															</div>
														</th>
														<th style="text-align:center;">
															Valor
														</th>
														<th>
															A faturar
														</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="despesa in $ctrl.share.demanda.orcamento.despesas">
														<td width="600px">
															<input type="text" ng-model="despesa.descricao" style="width: 100%" ng-change="$ctrl.calculartotaldespesas()"/>
														</td>
														<td style="text-align:right;">
															<input type="text" ng-model="despesa.valor" style="width: 100%" gb-money ng-change="$ctrl.calculartotaldespesas()" />
														</td>
														<td style="width: 60px; text-align:center;"> 
															<input type="checkbox" ng-model="despesa.a_faturar" ng-change="$ctrl.calculartotaldespesas()"/>
														</td>
													</tr>
												</tbody>
												<tfoot>
													<tr>
														<td width="600px">
															Total
														</td>
														<td style="text-align:right;">
															<input type="text" ng-model="$ctrl.share.demanda.orcamento.total_despesas" style="width: 100%" disabled/>
														</td>
														<td>
														</td>
													</tr>
												</tfoot>
											</table>
										</div>
									</div>								
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div>
				<div class="cabecalho">
					Simulações
				</div>
				<div>
					<table class="table table-sm table-bordered">
						<tr>
							<td>
								Valor hora cliente
							</td>
							<td>
								<select id="valorhora" name="valorhora" ng-model="$ctrl.share.demanda.orcamento.valor_hora_orcamento.id" style="height: 26px" ng-change="$ctrl.alteracaoorcamento()" ng-options="v.id as v.descricao for v in $ctrl.share.listavalorhora">
									<option value="">Selecione um tipo...</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>
								Horas projetadas
							</td>
							<td>
								<input type="number" ng-model="$ctrl.share.demanda.orcamento.horas_projetadas" ng-change="$ctrl.alteracaoorcamento()"/>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div>
				<table class="table table-sm table-bordered">
					<thead>
						<tr>
							<td>
							</td>
							<td>
								Horas
							</td>
							<td>
								Valor
							</td>
							<td>
								% Lucro
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Desejado</td>
							<td>{{$ctrl.share.demanda.orcamento.horas_desejado}}</td>
							<td>{{$ctrl.share.demanda.orcamento.valor_desejado}}</td>
							<td>{{$ctrl.share.demanda.orcamento.lucro_calculado_desejado}}</td>
						</tr>
						<tr>
							<td>Projetado</td>
							<td>{{$ctrl.share.demanda.orcamento.horas_projetadas}}</td>
							<td>{{$ctrl.share.demanda.orcamento.valor_projetado}}</td>
							<td>{{$ctrl.share.demanda.orcamento.lucro_calculado_projetado}}</td>
						</tr>
						<tr>
							<td>Proposto</td>
							<td>{{$ctrl.share.demanda.orcamento.horas_proposto}}</td>
							<td>{{$ctrl.share.demanda.orcamento.valor_proposto}}</td>
							<td>{{$ctrl.share.demanda.orcamento.lucro_calculado_proposto}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<button type="button" class="btn btn-sm btn-primary" ng-click="$ctrl.modalprevisaofaturamento()" ng-show="$ctrl.share.demanda.orcamento.id && $ctrl.share.demanda.orcamento.total_orcamento">Previsão de faturamento</button>
				</div>
			</div>
		</div>
		<div class="col-sm-9">
			<table class="table table-sm table-bordered" style="margin-top: 5px;">
				<thead>
					<tr>
						<td>
							Fase
						</td>
						<td>
							Perfil
						</td>
						<td>
							Horas
						</td>
						<td>
							Dias(Fase)
						</td>
						<td>
							Valor(Fase)
						</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="orcamento_fase in $ctrl.share.demanda.orcamento.orcamento_fases">
						<td>
							<select ng-model="orcamento_fase.fase.id" class="disabled_select" style="height: 26px" ng-options="v.id as v.descricao for v in $ctrl.listafases" disabled>
								<option value="">Selecione um tipo...</option>
							</select>
							<div class="btn btn-sm btn-primary" style="float: right; padding: 0 5px" ng-click="$ctrl.adicionaritemfase(orcamento_fase);">+</div>
						</td>
						<td>
							<div ng-repeat="itemfase in orcamento_fase.itensfase" ng-show="!itemfase.remover">
								<select ng-model="itemfase.valor_hora.id" style="height: 23px" ng-change="$ctrl.changevalorhora(itemfase, orcamento_fase); $ctrl.alteracaoorcamento();" ng-options="v.id as v.descricao for v in $ctrl.valorhoraporfasemap[orcamento_fase.fase.id]">
									<option value="">Selecione um tipo...</option>
								</select>
								<div class="btn btn-sm btn-primary" style="float: right; padding: 0 5px" ng-click="$ctrl.removeritemfase(itemfase, orcamento_fase)">-</div>
							</div>
						</td>
						<td>
							<div ng-repeat="itemfase in orcamento_fase.itensfase" ng-show="!itemfase.remover">
								<input type="number" ng-model="itemfase.quantidade_horas" ng-change="$ctrl.changefasequantidadehoras(itemfase, orcamento_fase); $ctrl.alteracaoorcamento();">
							</div>
						</td>
						<td>
							<div>
								<input type="number" ng-model="orcamento_fase.dias"/>
							</div>
						</td>
						<td>
							<div>
								{{orcamento_fase.valor_total}}
							</div>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td>
							Total
						</td>
						<td>
						</td>
						<td>
						</td>
						<td>
						</td>
						<td>
							{{$ctrl.share.demanda.orcamento.total_orcamento}}
						</td>	
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
{%endverbatim%}