<meta charset="utf-8">
{% extends "base_page.html" %}

{% block script %}
	<script src="/static/js/apps/cadastros/naturezademanda/naturezademanda.js"></script>
	<script src="/static/js/apps/cadastros/naturezademanda/naturezademanda-services.js"></script>
	<script src="/static/js/commons/commons.js"></script>
	<script src="/static/js/angular/ui-bootstrap-tpls-2.2.0.min.js"></script>
	<script src="/static/js/jquery/priceformat/jquery.priceformat.min.js"></script>
{% endblock %}

{%block content%}

{%verbatim%}

<style>
	table tr {
    	cursor: pointer;
	}
	button.margin {
		margin-bottom: 1em;
	}
	span.red { 
   		color:red;
  	}
</style>

<h1>Natureza da demanda</h1>

<form  name="naturezademanda" ng-app="naturezademanda" ng-controller="NaturezaDemandaController as $ctrl" ng-show="$ctrl.show" class="ng-hide">
  <div class="panel panel-default form-group-sm" >
	  <div class="panel-body">
		  <div class="form-group">
		    <label for="descricao">Natureza da demanda</label>
		    <input type="text" class="form-control" id="descricao" name="descricao" ng-model="$ctrl.naturezademanda.descricao" maxlength="30" placeholder="Natureza da demanda" required>
		  </div>
		  <button type="button" class="btn btn-default margin" ng-click="$ctrl.salvar()" ng-disabled="fase.$invalid">Salvar</button>
		  <button type="button" class="btn btn-default margin" ng-click="$ctrl.novo()" ng-show="$ctrl.fase.id">Novo</button>
		  
		  <table class="table table-responsive table-bordered table-striped table-highlight" ng-show="$ctrl.naturezademandalist">
				<thead>
				    <th>Natureza da demanda</th>
				    <th></th>
				</thead>
				<tbody>
				    <tr ng-repeat="naturezademanda in $ctrl.naturezademandalist">
				        <td class="col-sm-12" ng-click="$ctrl.editar(naturezademanda);">{{naturezademanda.descricao}}</td>
				        <td>
				       		<button type="button" class="btn btn-default" ng-click="$ctrl.deletar(naturezademanda)">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
				        </td>
				    </tr>
				</tbody>
		   </table>
	 </div>
  </div>
</form>

{%endverbatim%}

{%endblock%}