<meta charset="utf-8">
{% extends "base_page.html" %}

{% block script %}
	<script src="/static/js/apps/demandas/demandas.js"></script>
	<script src="/static/js/apps/demandas/demandas-services.js"></script>
{% endblock %}

{%block content%}

{%verbatim%}

<h1>Demanda</h1>

<form ng-app="demandas" ng-controller="DemandaController">
  <div class="form-group">
    <label for="cliente">Cliente</label>
    <select id="cliente" class="form-control" ng-model="demanda.cliente.id" ng-options="c.id as c.razao_social for c in listaclientes"></select>
  </div>
</form>

{%endverbatim%}

{%endblock%}