<meta charset="utf-8">
{% extends "base_page.html" %}

{% block script %}

	<script src="/static/js/apps/demandas/demandas.js"></script>
	<script src="/static/js/apps/demandas/demandas_orcamento_cliente.js"></script>
	<script src="/static/js/apps/demandas/demandas_orcamento_atividades.js"></script>
	<script src="/static/js/apps/demandas/demandas-services.js"></script>
	<script src="/static/js/apps/faturamento/parcela.js"></script>
	<script src="/static/js/apps/faturamento/parcela-services.js"></script>
	<script src="/static/js/apps/cadastros/centrocusto/centrocusto-services.js"></script>
	<script src="/static/js/apps/cadastros/centroresultado/centroresultado-services.js"></script>
	<script src="/static/js/apps/cadastros/unidadeadministrativa/unidadeadministrativa-services.js"></script>
	<script src="/static/js/apps/cadastros/naturezademanda/naturezademanda-services.js"></script>
	<script src="/static/js/apps/cadastros/valorhora/valorhora-services.js"></script>
	<script src="/static/js/apps/cadastros/fase/fase-services.js"></script>
	<script src="/static/js/apps/cadastros/pessoa/pessoa-services.js"></script>
	
{% endblock %}

{%block content%}

{% if demanda %}
<script type="text/javascript">
	var demanda_id = {{demanda.id}}
	var cliente_id = {{demanda.cliente.id}}
</script>
{% else %}
<script type="text/javascript">
	var demanda_id = null;
	var cliente_id = null;
</script>
{% endif %}

{%verbatim%}

<style>
	span.red { 
   		color:red;
  	}
  	button.margin {
		margin-bottom: 1em;
		margin-top: 1em;
	}
	
	span.margin {
		margin: -3px;
	}
	
	table thead tr th{
		text-align: center;
	}
	
	.heading-text-align {
		text-align: center;
	}
	
	.margin-top {
		margin-top: 2em;
	}
	
	div.scroll {
		overflow-y: scroll;  
		height:400px;
	}
	.app-modal-window .modal-dialog {
	  width: 100%;
	  height: 100%;
	  margin: 0;
	  padding: 0;
	}
	.modal-content {
	  height: auto;
	  min-height: 100%;
	  border-radius: 0;
	}
		
</style>
<div ng-app="demandas" ng-controller="DemandaController as $ctrl" class="ng-hide" ng-show="$ctrl.show">
	<div class="panel panel-primary form-group-sm margin-top">
		<div class="panel-body">
			<div class="form-horizontal">
				<div class="col-sm-1">
					<div class="form-group">
						<label class="control-label col-sm-1" for="id">ID:</label>
						<div class="col-sm-1">
							<p class="form-control-static">{{$ctrl.demanda.id}}</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label class="control-label col-sm-6" for="id">Nome da demanda:</label>
						<div class="col-sm-6">
							<p class="form-control-static">{{$ctrl.demanda.nome_demanda}}</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label class="control-label col-sm-6" for="id">Código da demanda:</label>
						<div class="col-sm-2">
							<p class="form-control-static">{{$ctrl.demanda.codigo_demanda}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<ul class="nav nav-tabs">
	  <li class="active" ng-show="$ctrl.verificardisponibilidadeaba('#dadosdemanda')"><a data-toggle="tab" href="#dadosdemanda">Dados da demanda</a></li>
	  <li ng-show="$ctrl.verificardisponibilidadeaba('#resumo')" ng-click="$ctrl.tabselecionada('#resumo'); $ctrl.showatividadesdemanda();"><a data-toggle="tab" href="#resumo">Resumo</a></li>
	  <li ng-show="$ctrl.verificardisponibilidadeaba('#orcamento')" ng-click="$ctrl.tabselecionada('#orcamento');"><a data-toggle="tab" href="#orcamento">Orçamento</a></li>
	  <li ng-show="$ctrl.verificardisponibilidadeaba('#atividades')" ng-click="$ctrl.tabselecionada('#atividades'); $ctrl.showatividadesdemanda();"><a data-toggle="tab" href="#atividades">Atividades</a></li>
	  <li ng-show="$ctrl.verificardisponibilidadeaba('#proposta')" ng-click="$ctrl.tabselecionada('#proposta');"><a data-toggle="tab" href="#proposta">Proposta</a></li>
	  <li ng-show="$ctrl.verificardisponibilidadeaba('#observacoes')" ng-click="$ctrl.tabselecionada('#observacoes');"><a data-toggle="tab" href="#observacoes">Observações</a></li>
	  <li ng-show="$ctrl.verificardisponibilidadeaba('#ocorrencias')" ng-click="$ctrl.tabselecionada('#ocorrencias');"><a data-toggle="tab" href="#ocorrencias">Ocorrências</a></li>
	  <li ng-show="$ctrl.verificardisponibilidadeaba('#demandascomplementares')" ng-click="$ctrl.tabselecionada('#demandascomplementares');"><a data-toggle="tab" href="#demandascomplementares">Demandas complementares</a></li>
	</ul>
	<div class="tab-content">
		<div id="dadosdemanda" ng-if="$ctrl.verificardisponibilidadeaba('#dadosdemanda')" class="tab-pane in active">
			<form name="demanda">
				<div class="panel panel-primary form-group-sm margin-top">
					<div class="panel-heading"><strong>Dados da demanda</strong></div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-1">
								<div class="form-group">
									<label for="cliente">ID</label> 
								    <input type="text" id="id" name="id" ng-model="$ctrl.demanda.id" class="form-control" disabled/>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="cliente">Cliente</label> 
								    <select id="cliente" name="cliente" class="form-control" ng-change="$ctrl.changecliente()" ng-model="$ctrl.demanda.cliente.id" ng-options="c.id as c.pessoa.nome_razao_social for c in $ctrl.listaclientes" required>
								    	<option value="">Selecione um cliente...</option>
								    </select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="nome_demanda">Nome da demanda</label> 
								    <input type="text" id="nome_demanda" name="nome_demanda" ng-model="$ctrl.demanda.nome_demanda" class="form-control" required maxlength="60"/>
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group form-group-sm">
									<label for="status_demanda"> Status da demanda</label> 
								    <select id="status_demanda" name="status_demanda" ng-model="$ctrl.demanda.status_demanda" class="form-control" required>
							    		<option value="">Selecione um tipo...</option>
							    		<option value="O">Em orçamentação</option>
							    		<option value="A">Aguardando aprovação</option>
							    		<option value="N">Não aprovada</option>
							    		<option value="C">Cancelada</option>
							    		<option value="H">Em homologação</option>
							    		<option value="I">Implantada</option>
							    		<option value="D">Em desenvolvimento</option>
							    		<option value="E">Deletado</option>
							    	</select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="codigo_demanda">Código da demanda</label> 
								    <input type="text" id="codigo_demanda" name="codigo_demanda" ng-model="$ctrl.demanda.codigo_demanda" class="form-control" maxlength="20" required/>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label>Tipo da demanda</label> 
								    <select ng-model="$ctrl.demanda.tipo_demanda" class="form-control">
								    	<option value="">Selecione...</option>
								    	<option value="E">Externo</option>
								    	<option value="I">Interno</option>	
								    </select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label>Natureza da demanda</label> 
								    <select ng-model="$ctrl.demanda.natureza_demanda.id" class="form-control" ng-options="n.id as n.descricao for n in $ctrl.listanaturezademanda">
								    	<option value="">Selecione...</option>	
								    </select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="unidade_administrativa">Unidade administrativa</label> 
								    <select id="unidade_administrativa" name="unidade_administrativa" class="form-control" ng-model="$ctrl.demanda.unidade_administrativa.id" ng-change="$ctrl.changeunidadeadministrativa()" ng-options="u.id as (u.codigo + ' - ' + u.nome) for u in $ctrl.listaunidadeadministrativas" required>
								    	<option value="">Selecione uma unidade...</option>
								    </select>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="form-group">
									<label>Responsável</label> 
								    <select class="form-control" ng-model="$ctrl.demanda.responsavel.id" ng-options="f.id as f.pessoa.nome_razao_social for f in $ctrl.listagestores">
									   	<option value="">Selecione um analista...</option>
									</select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label>Responsável no cliente</label> 
								    <input type="text" ng-model="$ctrl.demanda.responsavel_cliente" class="form-control" maxlength="30"/>
								</div>
							</div>
							<div class="col-md-3" style="width: 150px">
								<div class="form-group">
									<label>Data de abertura</label> 
									<p class="input-group">
										<input type="text" class="form-control input-sm" uib-datepicker-popup="dd/MM/yyyy" ui-mask="99/99/9999" model-view-value="true" ng-model="$ctrl.demanda.data_criacao" ng-change="$ctrl.changedatacriacao();" is-open="$ctrl.data_demanda" ng-required="true" current-text="Hoje" clear-text="Limpar" close-text="Fechar"/>
										<span class="input-group-btn">
											<button type="button" class="btn btn-default" ng-click="$ctrl.abrirmodaldatademanda()"><i class="glyphicon glyphicon-calendar"></i></button>
										</span>
									</p>
								</div>
							</div>
							<div class="col-md-3" style="width: 150px">
								<div class="form-group">
									<label>&nbsp;</label>
									<p class="input-group">
								 		<label><input type="checkbox" ng-model="$ctrl.demanda.recorrente">&nbsp;Recorrente</label>
								 	</p>
							 	</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="descricao">Descrição</label> 
								    <textarea id="descricao" name="descricao" ng-model="$ctrl.demanda.descricao" class="form-control" style="height: 125px;"></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="descricao">Forma de pagamento</label> 
								    <textarea id="descricao" name="descricao" ng-model="$ctrl.demanda.forma_pagamento" class="form-control" style="height: 125px;"></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="descricao">Particularidades da proposta</label> 
								    <textarea id="descricao" name="descricao" ng-model="$ctrl.demanda.particularidade_proposta" class="form-control" style="height: 125px;"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div id="resumo" ng-if="$ctrl.verificardisponibilidadeaba('#resumo')" class="tab-pane">
			{%endverbatim%}
			{% include "fragments/demanda_resumo.html" %}
		</div>
		<div id="orcamento" ng-if="$ctrl.verificardisponibilidadeaba('#orcamento')" class="tab-pane">
			{% include "fragments/demanda_orcamento.html" %}
		</div>
		<div id="atividades" ng-if="$ctrl.verificardisponibilidadeaba('#atividades')" class="tab-pane">
			{% include "fragments/demanda_atividade.html" %}
			{%verbatim%}
		</div>
		<div id="proposta" ng-if="$ctrl.verificardisponibilidadeaba('#proposta')" class="tab-pane">
		   	
		   	<button type="button" class="btn btn-primary margin" ng-click="$ctrl.adicionarproposta()">
		  		<span class="glyphicon glyphicon-plus"></span> Adicionar proposta
			</button>
			
			<form name="proposta" >
				<table class="table table-sm table-bordered table-striped table-highlight">
					<thead>
					  <tr class="active">
					    <th colspan="4">Proposta</th>
					    <th colspan="3">Aprovação</th>
					    <th></th>
					  </tr>
					  <tr class="active">
					    <th>Data recimento solicitação</th>
					    <th>Data limite entrega</th>
					    <th>Data real entrega</th>
					    <th>Númerdo da proposta B2Card</th>
					    <th>Data de aprovação</th>
					    <th>Empresa ganhadora</th>
					    <th>Tot horas ganhadora</th>
					    <th></th>
					  </tr>
					</thead>
					<tbody>
						<tr ng-repeat="proposta in $ctrl.demanda.propostas" ng-show="!proposta.remover">
							<td>
								<input type="text" ng-model="proposta.data_recimento_solicitacao" class="form-control" ui-mask="99/99/9999" model-view-value="true"/>
							</td>
							<td>
								<input type="text" ng-model="proposta.data_limite_entrega" class="form-control" ui-mask="99/99/9999" model-view-value="true"/>
							</td>
							<td>
								<input type="text" ng-model="proposta.data_real_entrega" class="form-control" ui-mask="99/99/9999" model-view-value="true"/>
							</td>
							<td>
								<input type="text" ng-model="proposta.numerdo_proposta" class="form-control" maxlength="30" placeholder="Númerdo da proposta B2Card"/>
							</td>
							<td>
								<input type="text" ng-model="proposta.data_aprovacao" class="form-control" ui-mask="99/99/9999" model-view-value="true"/>
							</td>
							<td>
								<input type="text" ng-model="proposta.empresa_ganhadora" class="form-control" maxlength="30" placeholder="Empresa ganhadora"/>
							</td>
							<td>
								<input type="number" ng-model="proposta.total_horas_ganhadora" class="form-control" placeholder="Tot horas ganhadora"/>
							</td>
							<td>
								<button type="button" class="btn btn-default" ng-click="$ctrl.remover(proposta)">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
		<div id="observacoes" ng-if="$ctrl.verificardisponibilidadeaba('#observacoes')" class="tab-pane">
			<button type="button" class="btn btn-primary margin" ng-click="$ctrl.adicionarobservacao()">
		  		<span class="glyphicon glyphicon-plus"></span> Adicionar observação
			</button>
			
			<table class="table table-sm table-bordered table-striped table-highlight">
				<thead>
				  <tr class="active">
				    <th class="col-sm-2">Data da observação</th>
				    <th class="col-sm-12">Observação</th>
				    <th></th>
				  </tr>
				</thead>
				<tbody>
					<tr ng-repeat="observacao in $ctrl.demanda.observacoes" ng-show="!observacao.remover">
						<td class="col-sm-2">
							<input type="text" ng-model="observacao.data_observacao" class="form-control" ui-mask="99/99/9999" model-view-value="true"/>
						</td>
						<td class="col-sm-12">
							<textarea ng-model="observacao.observacao" class="form-control" placeholder="Observação"></textarea>
						</td>
						<td>
							<button type="button" class="btn btn-default" ng-click="$ctrl.remover(observacao)">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="ocorrencias" ng-if="$ctrl.verificardisponibilidadeaba('#ocorrencias')" class="tab-pane">
		
			<button type="button" class="btn btn-primary margin" ng-click="$ctrl.adicionarocorrencia()">
		  		<span class="glyphicon glyphicon-plus"></span> Adicionar ocorrência
			</button>
			
			<form name="ocorrenciasform" ng-repeat="ocorrencia in $ctrl.demanda.ocorrencias" ng-show="!ocorrencia.remover">
				<div class="panel panel-primary form-group-sm">
					<div class="panel-heading">
						<div class="btn-group" ng-show="!ocorrencia.show">					
							<button type="button" class="btn btn-primary dropdown-toggle" ng-click="$ctrl.layout(ocorrencia)" >
			  					<span class="glyphicon glyphicon-plus margin"></span>
							</button>
						</div>
						<div class="btn-group" ng-show="ocorrencia.show">
							<button type="button" class="btn btn-primary dropdown-toggle" ng-click="$ctrl.layout(ocorrencia)" >
			  					<span class="glyphicon glyphicon-minus margin"></span>
							</button>
						</div>
						<strong>{{ocorrencia.descricao ? ocorrencia.descricao : '(Sem descrição)'}}</strong>
						<div class="btn-group pull-right">					
							<button type="button" class="btn btn-primary" ng-click="$ctrl.remover(ocorrencia)">
			  					<span class="glyphicon glyphicon-trash margin"></span>
							</button>
						</div>
					</div>
					<div class="panel-body" ng-show="ocorrencia.show">
						<div class="row">
							<div class="col-sm-3">
								<div class="form-group">
									<label for="tipo_ocorrencia">Tipo de ocorrência</label> 
								    <select class="form-control" id="tipo_ocorrencia" name="tipo_ocorrencia" ng-model="ocorrencia.tipo_ocorrencia" required>
								    	<option value="">Selecione...</option>
								    	<option value="E">Erro</option>
								    	<option value="S">Erro de Especificação</option>
								    	<option value="F">Fora do escopo inicial do projeto</option>
									</select>
									<span class="red" ng-show="ocorrenciasform.tipo_ocorrencia.$invalid">Tipo de ocorrência é obrigatório.</span>											
								</div>
							</div>
							<div class="col-sm-7">
								<div class="form-group">
									<label for="descricao">Descricao</label> 
								    <input type="text" class="form-control" id="descricao" name="descricao" ng-model="ocorrencia.descricao" maxlength="100"/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<div class="form-group">
									<label for="nome_solicitante">Nome do solicitante</label> 
								    <input type="text" class="form-control" id="nome_solicitante" name="nome_solicitante" ng-model="ocorrencia.nome_solicitante" maxlength="30"/>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="form-group">
									<label for="data_solicitacao">Data de solicitação</label> 
								    <input type="text" class="form-control" id="data_solicitacao" name="data_solicitacao" ng-model="ocorrencia.data_solicitacao" ui-mask="99/99/9999" model-view-value="true"/>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="form-group">
									<label for="data_prevista_conclusao">Data prevista conclusão</label> 
								    <input type="text" class="form-control" id="data_prevista_conclusao" name="data_prevista_conclusao" ng-model="ocorrencia.data_prevista_conclusao" ui-mask="99/99/9999" model-view-value="true"/>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="form-group">
									<label for="etapa">Etapa</label> 
								    <select class="form-control" id="etapa" name="etapa" ng-model="ocorrencia.etapa">
								    	<option value="">Selecione...</option>
								    	<option value="C">Concluído</option>
								    	<option value="A">Aguardando análise</option>
								    	<option value="E">Em avaliação</option>
									</select>											
								</div>
							</div>
							<div class="col-sm-2">
								<div class="form-group">
									<label for="responsavel">Responsável B2Card</label> 
								    <select id="responsavel" name="responsavel" class="form-control" ng-model="ocorrencia.responsavel.id" ng-options="f.id as f.pessoa.nome_razao_social for f in $ctrl.listafuncionarios" required>
									   	<option value="">Selecione um responsável...</option>
									</select>
								</div>
							</div>
							</div>
							<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="descricao_motivo">Descrição do motivo que causaram a ocorrência</label> 
								    <textarea class="form-control" id="descricao_motivo" name="descricao_motivo" ng-model="ocorrencia.descricao_motivo"></textarea>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="observacao">Observação</label> 
								    <textarea class="form-control" id="observacao" name="observacao" ng-model="ocorrencia.observacao"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div id="demandascomplementares" ng-if="$ctrl.verificardisponibilidadeaba('#demandascomplementares')" class="tab-pane">
		
			<button type="button" class="btn btn-primary margin" ng-click="$ctrl.adicionardemandacomplementar()">
		  		<span class="glyphicon glyphicon-plus"></span> Adicionar demanda
			</button>
			
			<div class="row" ng-repeat="demanda_complementar in $ctrl.demanda.demandas_complementares">
				<div class="col-sm-6">
					<div class="col-sm-2">
				    	<input type="number" class="input-sm form-control" ng-model="demanda_complementar.demanda.id" ng-blur="$ctrl.buscardemandaid(demanda_complementar)" style="margin: 5px 0 0 0;"/>
				    </div>
				    <div class="col-sm-10">
						<md-autocomplete md-selected-item="demanda_complementar.demanda" md-search-text-change="$ctrl.buscardemandas($ctrl.buscademandamap[demanda_complementar.$$hashKey].demanda_descricao)" md-search-text="$ctrl.buscademandamap[demanda_complementar.$$hashKey].demanda_descricao" md-selected-item-change="$ctrl.limparlistademandas()" md-items="demanda in $ctrl.listademandas"  md-item-text="demanda.nome_demanda">
			    			<md-item-template>
				    			<span md-highlight-text="searchText">{{demanda.nome_demanda}}</span>
				  			</md-item-template>
						</md-autocomplete>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<button type="button" class="btn btn-primary margin" ng-click="$ctrl.salvardemanda()" ng-disabled="!$ctrl.demanda.unidade_administrativa.id || !$ctrl.demanda.codigo_demanda || !$ctrl.demanda.status_demanda || !$ctrl.demanda.cliente.id || !$ctrl.demanda.nome_demanda || $ctrl.bloquearsalvar">Salvar</button>
	
</div>

{%endverbatim%}

{%endblock%}