<meta charset="utf-8">
{% extends "base_page.html" %}

{% block content %}

<style>
table tr {
    cursor: pointer;
}
</style>

<form class="navbar-form" action="{% url 'demanda:novo' %}" method="post">
	{% csrf_token %} 
	<button class="btn btn-default" value="Novo">Novo</button>
</form>

<table class="table table-hover">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Número demanda B2Card</th>
        <th>Coordenador</th>
      </tr>
    </thead>
    <tbody>
      {% for demanda in demandas %}
      <tr href="{% url 'demandas:editar' demanda.id %}">
        <td>{{demanda.cliente.razao_social}}</td>
        <td>{{demanda.numero_demanda}}</td>
        <td>{{demanda.coordenador.nome}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <script type="text/javascript">
  	$('table tr').on('click', function () {
  		window.location.replace($(this).attr('href'));	
  	});
  </script>
{% endblock %}