<meta charset="utf-8">
{% extends "base_page.html" %}

{% block script %}
	<script src="/static/js/apps/demandas/pesquisa.js"></script>
	<script src="/static/js/apps/demandas/pesquisa-services.js"></script>
	<script src="/static/js/apps/cadastros/pessoa/pessoa-services.js"></script>
	<script src="/static/js/commons/commons.js"></script>
	<script src="/static/js/angular/ui-bootstrap-tpls-2.2.0.min.js"></script>
	<script src="/static/js/jquery/priceformat/jquery.priceformat.min.js"></script>
	
	<script type="text/javascript">
	  	angular.bootstrap(document.getElementById('pesquisademanda'), ['pesquisademanda']);
  	</script>
	
{% endblock %}

{% block content %}

<style>
table tr {
    cursor: pointer;
}

button.margin {
	margin-top: 21px
}

div.modal-status {
	position: absolute;
	z-index: 1;
  	background-color: beige;
  	border-color: black;
  	border: 1px solid #ccc;
  	padding: 5px;
  	left: 43px;
  	top: 16px;
}

</style>

{%verbatim%}

<div id="pesquisademanda" ng-controller="PesquisaDemandaController as $ctrl" class="ng-hide" ng-show="$ctrl.show">
	<div class="panel panel-primary form-group-sm">
		<div class="panel-body">
			<form name="arguments">
				<div class="col-sm-5">
					<div class="form-group">
						<label for="total_orcamento">Descrição</label>
						<input type="text" ng-model="$ctrl.arguments.palavra_chave" class="form-control"/>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label for="cliente">Cliente</label>
						<select id="cliente" name="cliente" ng-model="$ctrl.arguments.cliente_id" class="form-control" ng-options="c.id as c.pessoa.nome_razao_social for c in $ctrl.listaclientes">
							<option value="">Selecione...</option>
						</select>
					</div>
				</div>
				<div class="col-sm-1" style="width: 150px">
					<div class="form-group">
						<label for="cliente">Data inicio</label>
						<p class="input-group">
							<input type="text" class="form-control input-sm" uib-datepicker-popup="dd/MM/yyyy" ui-mask="99/99/9999" model-view-value="true" ng-model="$ctrl.arguments.data_inicio" is-open="$ctrl.data_inicio" ng-required="true" current-text="Hoje" clear-text="Limpar" close-text="Fechar"/>
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="$ctrl.abrirdatainicio()"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</p>
					</div>
				</div>
				<div class="col-sm-1" style="width: 150px">
					<div class="form-group">
						<label for="cliente">Data fim</label>
						<p class="input-group">
							<input type="text" class="form-control input-sm" uib-datepicker-popup="dd/MM/yyyy" ui-mask="99/99/9999" model-view-value="true" ng-model="$ctrl.arguments.data_fim" is-open="$ctrl.data_fim" ng-required="true" current-text="Hoje" clear-text="Limpar" close-text="Fechar"/>
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="$ctrl.abrirdatafim()"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</p>
					</div>
				</div>
				<button class="btn btn-sm btn-default margin" ng-click="$ctrl.pesquisar();">Pesquisar</button>
				<button class="btn btn-sm btn-default margin" ng-click="$ctrl.novo();" value="Novo">Novo</button>
			</form>
		</div>
	</div>

	<table class="table table-hover">
	    <thead>
	      <tr>
	        <th>
	        	<div style="float:left;">
	        		Demanda
	        	</div>
	        	<button class="btn btn-primary button-heading" ng-click="$ctrl.ordenar()" style="margin-left:5px; float:left;" ng-show="$ctrl.arguments.ordenar">
					<span class="glyphicon glyphicon-chevron-up"></span>
				</button>
				<button class="btn btn-primary button-heading" ng-click="$ctrl.ordenar()" style="margin-left:5px; float:left;" ng-show="!$ctrl.arguments.ordenar">
					<span class="glyphicon glyphicon-chevron-down"></span>
				</button>
	        </th>
	        <th>
	        	<div style="float:left;">
	        		Responsável
	        	</div>
	        	<button class="btn btn-primary button-heading" ng-click="$ctrl.abrirmodalresponsaveis()" style="margin-left:5px; float:left;">
					<span class="glyphicon glyphicon-collapse-down"></span>
				</button>
				<div style="position: relative;">
					<div class="modal-status" ng-show="$ctrl.showmodalresponsaveis" style="width: 240px;">
						<button class="btn btn-primary button-heading" ng-click="$ctrl.abrirmodalresponsaveis()" style="margin-right:2px; float:right;">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
						<div ng-repeat="r in $ctrl.listaresponsaveis">
							<input type="checkbox" ng-model="$ctrl.responsavel[r.id]" ng-click="$ctrl.pesquisar();"> {{r.pessoa.nome_razao_social}}
						</div>
					</div>
				</div>
	        </th>
	        <th>
	        	<div style="float:left;">
	        		Status
	        	</div>
	        	<button class="btn btn-primary button-heading" ng-click="$ctrl.abrirmodalstatus()" style="margin-left:5px; float:left;">
					<span class="glyphicon glyphicon-collapse-down"></span>
				</button>
				<div style="position: relative;">
					<div class="modal-status" ng-show="$ctrl.showmodal">
						<div>
							<button class="btn btn-primary button-heading" ng-click="$ctrl.abrirmodalstatus()" style="margin-right:2px; float:right;">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</div>
						<div>
							<input type="checkbox" ng-model="$ctrl.status['A']" ng-click="$ctrl.pesquisar();"> Aprovada
						</div>
						<div>
							<input type="checkbox" ng-model="$ctrl.status['C']" ng-click="$ctrl.pesquisar();"> Cancelada
						</div>
						<div>
							<input type="checkbox" ng-model="$ctrl.status['D']" ng-click="$ctrl.pesquisar();"> Disponibilizada
						</div>
						<div>
							<input type="checkbox" ng-model="$ctrl.status['E']" ng-click="$ctrl.pesquisar();"> Em execução
						</div>
						<div>
							<input type="checkbox" ng-model="$ctrl.status['O']" ng-click="$ctrl.pesquisar();"> Em orçamento
						</div>
						<div>
							<input type="checkbox" ng-model="$ctrl.status['X']" ng-click="$ctrl.pesquisar();"> Excluída
						</div>
						<div>
							<input type="checkbox" ng-model="$ctrl.status['F']" ng-click="$ctrl.pesquisar();"> Finalizada
						</div>	
						<div>
							<input type="checkbox" ng-model="$ctrl.status['P']" ng-click="$ctrl.pesquisar();"> Paralisada
						</div>	
						<div>
							<input type="checkbox" ng-model="$ctrl.status['S']" ng-click="$ctrl.pesquisar();"> Proposta enviada
						</div>	
						<div>
							<input type="checkbox" ng-model="$ctrl.status['R']" ng-click="$ctrl.pesquisar();"> Recusada
						</div>								
					</div>
				</div>
	        </th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-click="$ctrl.abrirdemanda(demanda)" ng-repeat="demanda in $ctrl.resultado.demandas">
	      	<td>{{demanda.descricao}}</td>
	        <td>{{demanda.responsavel.pessoa.nome_razao_social}}</td>
	        <td>
				{{demanda.status_demanda == 'A' ? 'Aprovada' : ''}}
				{{demanda.status_demanda == 'C' ? 'Cancelada' : ''}}
				{{demanda.status_demanda == 'D' ? 'Disponibilizada' : ''}}
				{{demanda.status_demanda == 'E' ? 'Em execução' : ''}}
				{{demanda.status_demanda == 'O' ? 'Em orçamento' : ''}}
				{{demanda.status_demanda == 'X' ? 'Excluída' : ''}}
				{{demanda.status_demanda == 'F' ? 'Finalizada' : ''}}
				{{demanda.status_demanda == 'P' ? 'Paralisada' : ''}}
				{{demanda.status_demanda == 'S' ? 'Proposta enviada' : ''}}
				{{demanda.status_demanda == 'R' ? 'Recusada' : ''}}				
			</td>
	      </tr>
	    </tbody>
	</table>
	<div class="col-sm-12">
		<div class="form-group" style="text-align: center;">
			<button class="btn btn-primary" ng-click="$ctrl.primeirapagina();">
				<span class="glyphicon glyphicon-fast-backward"></span>
			</button>
			<button class="btn btn-primary" ng-click="$ctrl.recuarpagina();">
				<span class="glyphicon glyphicon-step-backward"></span>
			</button>
			<button class="btn btn-primary" ng-click="$ctrl.avancarpagina();">
				<span class="glyphicon glyphicon-step-forward"></span>
			</button>
			<button class="btn btn-primary" ng-click="$ctrl.ultimapagina();">
				<span class="glyphicon glyphicon-fast-forward"></span>
			</button>
		</div>
	</div>
</div>
 
 {%endverbatim%} 
 
{% endblock %}