<meta charset="utf-8">
<div class="margin-top" ng-controller="OrcamentoController as $ctrl">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#atividadesplanejada">Atividades planejadas</a></li>
		<li><a data-toggle="tab" href="#orcamentocliente">Orçamento no cliente</a></li>
	</ul>
	<div class="tab-content">
		<div id="atividadesplanejada" class="tab-pane in active">
			
			<button class="btn btn-primary margin" ng-click="$ctrl.adicionarcoluna()">
				<span class="glyphicon glyphicon-plus"></span>Coluna
			</button>
			<button class="btn btn-primary margin" ng-click="$ctrl.adicionaratividade()">
				<span class="glyphicon glyphicon-plus"></span>Atividade
			</button>
			
			<table class="table table-sm table-bordered table-striped table-highlight">
				<thead>
					<tr>
						<td style="width: 1%">
							<div style="width: 140px">
								Fase
							</div>
						</td>
						<td width="50%">Atividade</td>
						<td ng-repeat="coluna in $ctrl.colunas" style="width: 1%">
							<div style="width: 101px">
								<select class="form-control combo-heading" style="width: 80px" ng-model="coluna.valor_hora.id" ng-change="$ctrl.validarcolunaalterada(coluna, {{coluna.valor_hora && coluna.valor_hora.id? coluna.valor_hora.id : 'null'}})" ng-options="v.id as v.descricao for v in $ctrl.listavalorhorab2card">
									<option value="">Selecione...</option>
								</select>
								<button class="btn btn-primary button-heading" ng-click="$ctrl.removercoluna(coluna)">
									<span class="glyphicon glyphicon-minus"></span>
								</button>
							</div>
						</td>
						<td style="width: 1%">
							<div style="width: 48px">
								Total
							</div>
						</td>
						<td style="width: 1%"></td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="atividade in $ctrl.share.demanda.orcamento.orcamento_atividades" ng-show="!atividade.remover">
						<td>
							<select class="form-control" ng-model="atividade.fase.id" ng-options="f.id as f.descricao for f in $ctrl.listafases">
								<option value="">Selecione...</option>
							</select>
						</td>
						<td>
							<input type="text" ng-model="atividade.descricao" maxlength="100"  class="form-control"/>
						</td>
						<td ng-repeat="coluna in $ctrl.colunas">
							<input type="number"  class="form-control" ng-model="atividade.colunas[coluna.valor_hora.id].horas" ng-change="$ctrl.changecoluna()" ng-disabled="!coluna.valor_hora.id"/>
						</td>
						<td>
							<input type="text"  class="form-control" ng-model="atividade.total_horas" disabled/>
						</td>
						<td>
							<button class="btn btn-default" ng-click="$ctrl.remover(atividade)">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</td>
					</tr>
				</tbody>
				<tfoot ng-show="$ctrl.share.demanda.orcamento.orcamento_atividades.length > 0">
					<tr>
						<td>
							<input type="text" class="form-control" value="Totais" disabled/>
						</td>
						<td ></td>
						<td ng-repeat="coluna in $ctrl.colunas" style="text-align: center;">
							<input type="text" class="form-control" ng-model="coluna.valor_total" disabled/>
						</td>
						<td>
							<input type="text" class="form-control" ng-model="$ctrl.total_colunas" disabled/>
						</td>
						<td></td>
					</tr>
				</tfoot>
			</table>
		
		</div>
		<div id="orcamentocliente" class="tab-pane">
			<form name="orcamento">
				<div class="panel panel-primary margin-top">
					<div class="panel-heading">Total orçamento</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group form-group-sm">
									<input type="text" id="total_orcamento" name="total_orcamento"
										ng-model="$ctrl.share.demanda.orcamento.total_orcamento"
										class="form-control" disabled="disabled" />
								</div>
							</div>
							<div class="col-sm-6">
								<button type="button" class="btn btn-sm btn-primary"
									ng-click="$ctrl.modalprevisaofaturamento()"
									ng-show="$ctrl.share.demanda.orcamento.id && $ctrl.share.demanda.orcamento.total_orcamento">Previsão
									de faturamento</button>
							</div>
						</div>
					</div>
				</div>
	
				<button type="button" class="btn btn-default margin"
					ng-click="$ctrl.novafase()">Nova fase</button>
	
				<div class="panel panel-primary" ng-show="$ctrl.fase">
					<div class="panel-heading">
						<strong>{{$ctrl.fase.descricao ? $ctrl.fase.descricao :
							'(Sem descrição)'}}</strong>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-6 form-group form-group-sm">
								<label for="fase_descricao">Fase</label> <input type="text"
									id="fase_descricao" name="fase_descricao"
									ng-model="$ctrl.fase.descricao" class="form-control" required />
							</div>
						</div>
	
						<button type="button" class="btn btn-primary margin"
							ng-click="$ctrl.adicionaritemfase()">
							<span class="glyphicon glyphicon-plus"></span> Adicionar valor
							hora
						</button>
	
						<table
							class="table table-sm table-bordered table-striped table-highlight">
							<thead>
								<tr class="active">
									<th>Valor hora</th>
									<th>Valor</th>
									<th>Quantidade de horas</th>
									<th>Valor final</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="itemfase in $ctrl.fase.itensfase"
									ng-show="!itemfase.remover">
									<td><select id="valorhora" name="valorhora"
										ng-model="itemfase.valor_hora.id"
										ng-change="$ctrl.changevalorhora(itemfase)"
										class="form-control"
										ng-options="v.id as v.descricao for v in $ctrl.listavalorhora">
											<option value="">Selecione um tipo...</option>
									</select></td>
									<td><input type="text" id="comissao_comercial"
										name="comissao_comercial" ng-model="itemfase.valor_selecionado"
										maxlength="30" gb-money class="form-control" disabled /></td>
									<td><input type="number" id="comissao_comercial"
										name="comissao_comercial" ng-model="itemfase.quantidade_horas"
										ng-change="$ctrl.changefasequantidadehoras(itemfase)"
										class="form-control" /></td>
									<td><input type="text" id="valor_faturamento"
										name="valor_faturamento" ng-model="itemfase.valor_total"
										maxlength="30" gb-money class="form-control" disabled /></td>
									<td>
										<button type="button" class="btn btn-default"
											ng-click="$ctrl.remover(itemfase, $ctrl.calcularvalortotalorcamento)">
											<span class="glyphicon glyphicon-trash"></span>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
	
						<div class="form-group form-group-sm">
							<label for="descricao">Valor total</label> <input type="text"
								id="descricao" name="descricao" ng-model="$ctrl.fase.valor_total"
								class="form-control" disabled required />
						</div>
	
						<button type="button" class="btn btn-default margin"
							ng-click="$ctrl.salvarfase()" ng-disabled="orcamento.$invalid">
							Incluir</button>
						<button type="button" class="btn btn-default margin"
							ng-click="$ctrl.cancelarfase()">Cancelar</button>
	
					</div>
				</div>
	
				<table
					class="table table-sm table-bordered table-striped table-highlight"
					style="text-align: center;">
					<thead>
						<tr class="active">
							<th class="col-sm-2">Fase</th>
							<th class="col-sm-12"></th>
							<th class="col-sm-1"></th>
							<th class="col-sm-1"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="fase in $ctrl.share.demanda.orcamento.fases"
							ng-show="!fase.remover">
							<td><label>{{fase.descricao}}</label></td>
							<td>
								<table
									class="table table-sm table-bordered table-striped table-highlight nested">
									<thead>
										<tr>
											<th>Valor hora</th>
											<th>Valor</th>
											<th>Quantidade</th>
											<th>Valor total</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="itemfase in fase.itensfase"
											ng-show="!itemfase.remover">
											<td>{{itemfase.valor_hora.descricao}}</td>
											<td>{{itemfase.valor_selecionado}}</td>
											<td>{{itemfase.quantidade_horas}}</td>
											<td>{{itemfase.valor_total}}</td>
										</tr>
									</tbody>
								</table>
								<div class="form-group">
									<label>Valor final: {{fase.valor_total}}</label>
								</div>
							</td>
							<td>
								<button type="button" class="btn btn-default"
									ng-click="$ctrl.editarfase(fase)">
									<span class="glyphicon glyphicon-edit"></span>
								</button>
							</td>
							<td>
								<button type="button" class="btn btn-default"
									ng-click="$ctrl.remover(fase, $ctrl.calcularvalortotalorcamento)">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
</div>