<meta charset="utf-8">
<div class="col-sm-12" ng-controller="AtividadeController as $ctrl">

	<button class="btn btn-sm btn-primary margin" ng-click="$ctrl.adicionar()">
		Adicionar
	</button>
	
	<button class="btn btn-sm btn-primary margin">
		Importar
	</button>
	
	<table class="table table-sm table-bordered table-striped table-highlight" ng-repeat="atividade in $ctrl.share.demanda.atividades">
		<thead>
			<tr class="active">
				<td style="width: 1%;">
					<div style="width: 140px">
						Fase
					</div>
				</td>
				<td>Atividade</td>
				<td style="width: 1%;">Data inicio</td>
				<td style="width: 1%;">Data fim</td>
				<td style="width: 1%;">
					<div style="width: 140px">
						Profissional
						<button class="btn btn-primary button-heading" ng-click="$ctrl.adicionarprofissional(atividade)" style="float:right;">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</div>
				</td>
				<td style="width: 1%;">
					<div style="width: 86px">
						Horas alocadas
					</div>
				</td>
				<td style="width: 1%;">
				</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<select class="form-control" ng-model="atividade.fase.id" ng-options="f.id as f.descricao for f in $ctrl.listafases">
			    		<option value="">Selecione uma fase...</option>
			    	</select>
				</td>
				<td>
					<input type="text" class="form-control" ng-model="atividade.descricao"/>
				</td>
				<td>
					<input type="text" class="form-control" ng-model="atividade.data_inicio" ui-mask="99/99/9999" model-view-value="true"/>
				</td>
				<td>
					<input type="text" class="form-control" ng-model="atividade.data_fim" ui-mask="99/99/9999" model-view-value="true"/>
				</td>
				<td>
					<span ng-repeat="profissional in atividade.profissionais">
						<select class="form-control" ng-model="profissional.pessoa.id" ng-options="p.id as p.pessoa.nome_razao_social for p in $ctrl.profissionais">
				    		<option value="">Selecione um profissional...</option>
				    	</select>
			    	</span>
				</td>
				<td>
					<span ng-repeat="profissional in atividade.profissionais">
						<input type="number" class="form-control"/>
					</span>
				</td>
				<td>
					<button type="button" class="btn btn-default" ng-click="$ctrl.remover(proposta)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</td>
			</tr>
		
		</tbody>		
	</table>
</div>
			