<meta charset="utf-8">
{% extends "base_page.html" %}


{% block script %}
	<script src="/static/js/apps/gestor/gestor.js"></script>
	<script src="/static/js/apps/gestor/gestor-services.js"></script>
	<script src="/static/js/apps/cadastros/tipoalocacao/tipoalocacao-services.js"></script>
	
	<script type="text/javascript">
	  	angular.bootstrap(document.getElementById('gestor'), ['gestor']);
  	</script>
{% endblock %}


{% block content %}

{%verbatim%}

<style>
	div.atividade {
		border: none;
		border-top-color: white;
		height: 22px;
		vertical-align: middle;
		line-height: 20px;
	}

	.table>tbody>tr>td {
		margin: 0;
		padding: 0
	}
	
	button.expandir {
		width: 18px;
	    padding: 0;
	    margin: 0;
	    height: 17px;
	    line-height: 1.4
	}
	
	div.panel_body_atividades {
		padding-top: 0;
    	padding-bottom: 0;
	}
	
	div.cabecalho_atividade {
		font-style: italic;
	}
	
	div.fase_atividade {
		border-top: 1px #ddd solid;
	}
	
	.panel-default {
		background-color: white;
		border-color: white;
	}
	
	.panel-default>.panel-heading {
		background-color: white;
		border-color: white
	}
	
	div.modal-status {
		position: absolute;
		z-index: 1;
	  	background-color: beige;
	  	border-color: black;
	  	border: 1px solid #ccc;
	  	padding: 5px;
	  	left: 43px;
	  	top: 16px;
	}
	
</style>

<div id="gestor" class="margin-top ng-hide" ng-controller="GestorController as $ctrl" ng-show="$ctrl.show">
	<div class="panel panel-default" style="margin-bottom: 5px; margin-top: 0px;">
		<div class="panel-heading" style="height: 22px; padding:2px; font-style: italic;">
			<div class="col-sm-1" style="width: 1px;"></div>
			<div class="col-sm-5"><strong>Demanda</strong></div>
			<div class="col-sm-2"><strong>Código no cliente</strong></div>
			<div class="col-sm-2">
				<div style="float:left;">
	        		<strong>Status</strong>
	        	</div>
	        	<button class="btn btn-primary button-heading" ng-click="$ctrl.abrirmodalstatus()" style="margin-left:5px; float:left;">
					<span class="glyphicon glyphicon-collapse-down"></span>
				</button>
				<div style="position: relative;">
					<div class="modal-status" ng-show="$ctrl.showmodal">
						<div>
							<button class="btn btn-primary button-heading" ng-click="$ctrl.abrirmodalstatus()" style="margin-right:2px; float:right;">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</div>
						<div>
							<input type="checkbox" ng-model="$ctrl.status['O']" ng-click="$ctrl.pesquisar();"> Em orçamentação
						</div>
						<div>
							<input type="checkbox" ng-model="$ctrl.status['A']" ng-click="$ctrl.pesquisar();"> Aguardando aprovação
						</div>
						<div>
							<input type="checkbox" ng-model="$ctrl.status['N']" ng-click="$ctrl.pesquisar();"> Não aprovada
						</div>
						<div>
							<input type="checkbox" ng-model="$ctrl.status['C']" ng-click="$ctrl.pesquisar();"> Cancelada
						</div>
						<div>
							<input type="checkbox" ng-model="$ctrl.status['H']" ng-click="$ctrl.pesquisar();"> Em homologação
						</div>
						<div>
							<input type="checkbox" ng-model="$ctrl.status['I']" ng-click="$ctrl.pesquisar();"> Implantada
						</div>
						<div>
							<input type="checkbox" ng-model="$ctrl.status['D']" ng-click="$ctrl.pesquisar();"> Em desenvolvimento
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-1"><strong>% Calc</strong></div>
			<div class="col-sm-1"><strong>% Inf</strong></div>
		</div>
	</div>
	<fieldset ng-repeat="cliente in $ctrl.clientes">
		<legend>{{cliente.nome_fantasia}}</legend>
		
		<div class="panel panel-default" style="margin-bottom: 0px; margin-top: 0px;" ng-repeat="demanda in cliente.demandas">
				<div class="panel-heading" style="height: 22px; padding:2px">
					<div class="col-sm-1" style="width: 1px;">
						<button type="button" class="btn btn-sm btn-default expandir" ng-click="$ctrl.expandir(demanda);">{{!$ctrl.demandamap[demanda.$$hashKey].expandir ? '+' : '-'}}</button>
					</div>
					<div class="col-sm-5" ng-click="$ctrl.redirecionar(demanda.id)">{{demanda.id}} - {{demanda.nome_demanda}}</div>
					<div class="col-sm-2" ng-click="$ctrl.redirecionar(demanda.id)">{{demanda.codigo_demanda}}</div>
					<div class="col-sm-2" ng-click="$ctrl.redirecionar(demanda.id)">
						{{demanda.status_demanda == 'O' ? 'Em orçamentação' : ''}}
						{{demanda.status_demanda == 'A' ? 'Aguardando aprovação' : ''}}
						{{demanda.status_demanda == 'N' ? 'Não aprovada' : ''}}
						{{demanda.status_demanda == 'C' ? 'Cancelada' : ''}}
						{{demanda.status_demanda == 'H' ? 'Em homologação' : ''}}
						{{demanda.status_demanda == 'I' ? 'Implantada' : ''}}
						{{demanda.status_demanda == 'D' ? 'Em desenvolvimento' : ''}}
						{{demanda.status_demanda == 'E' ? 'Deletado' : ''}}
					</div>
					<div class="col-sm-1">{{demanda.percentual_calculado ? demanda.percentual_calculado + '%' : ''}}</div>
					<div class="col-sm-1">{{demanda.percentual_concluido ? demanda.percentual_concluido + '%' : ''}}</div>
				</div>
				<div class="panel-body" style="margin: 0 0 0 50px; padding: 0 0 0 0;" ng-show="$ctrl.demandamap[demanda.$$hashKey].expandir">
					<div class="panel panel-default" style="margin-bottom: 5px; margin-top: 5px;">
						<div class="panel-heading" style="height: 22px; padding:2px; font-style: italic;">
							<div class="col-sm-12">
								<div class="col-sm-2" style="width: 70%"><b>Fase/Atividade</b></div>
								<div class="col-sm-2" style="width: 10%"><b>Dt.Ini./Hrs Prev</b></div>
								<div class="col-sm-2" style="width: 10%"><b>Dt.Fim/Hrs Aloc</b></div>
								<div class="col-sm-2" style="text-align: right; width: 4%; padding: 0%" ><b>% Calc</b></div>
								<div class="col-sm-2" style="text-align: right; width: 4%; padding: 0%"><b>% Inf</b></div>
							</div>
						</div>
					</div>
					<div class="panel panel-default" style="margin-bottom: 5px; margin-top: 0px;">
						<div class="panel-body panel_body_atividades">
							<div ng-repeat="fase_atividade in demanda.fase_atividades">
								<div class="row fase_atividade">
									<div class="row" style="margin-bottom: 5px; margin-left: 0;">
										<div class="col-sm-2" style="width: 69.5%">{{fase_atividade.fase.descricao}}</div>
										<div class="col-sm-2" style="width: 10%">{{fase_atividade.data_inicio}}</div>
										<div class="col-sm-2" style="width: 7%">{{fase_atividade.data_fim}}</div>
										<div class="col-sm-2" style="text-align: right; width: 6%; padding: 0 14px 0 16px">{{fase_atividade.percentual_calculado ? (fase_atividade.percentual_calculado + '%') : ''}}</div>
										<div class="col-sm-2" style="text-align: right; width: 3%; padding: 0%" ng-show="fase_atividade.percentual_concluido">{{fase_atividade.percentual_concluido}}%</div>
									</div>
									<div class="row" style="margin-left: 5%;">
										<div class="col-sm-10" style="width: 97%">
											<div class="row" style="border-top: 1px #ddd solid; margin-top: -1px;" ng-repeat="atividade in fase_atividade.atividades">
												<div class="row">
													<div class="col-sm-10" style="width: 69%"><div class="atividade">{{atividade.descricao}}</div></div>
													<div class="col-sm-1" style="width: 9.8%; padding-left: 23px"><div class="atividade">{{atividade.data_inicio}}</div></div>
													<div class="col-sm-1" style="width: 10%; text-align: center;"><div class="atividade" >{{atividade.data_fim}}</div></div>
													<div class="col-sm-1" style="text-align: right; width: 4%; padding: 0 0 0 13px;"><div class="atividade">{{atividade.percentual_calculado ? atividade.percentual_calculado + '%' : ''}}</div></div>
													<div class="col-sm-1" style="text-align: right; width: 5.5%"><div class="atividade" ng-show="atividade.percentual_concluido">{{atividade.percentual_concluido}}%</div></div>
												</div>
												<div class="row" style="padding-left: 25px; padding-right:23px;" ng-repeat="atividade_profissional in atividade.atividadeprofissionais">
													<div class="col-sm-8">
														{{atividade_profissional.pessoa_fisica.pessoa.nome_razao_social}}
													</div>
													<div class="col-sm-1" style="width: 15%; text-align: center;">
														{{atividade_profissional.quantidade_horas_formatada}}
													</div>
													<div class="col-sm-1" style="width: 7%; text-align: center;" ng-class="{atividade_atrasada: atividade_profissional.atrasado}">
														{{atividade_profissional.horas_alocadas}}
													</div>
													<div class="col-sm-1" style="text-align: right; width:6%; padding-left: 37px; padding-right: 1px;">
														{{atividade_profissional.percentual_calculado ? (atividade_profissional.percentual_calculado + '%') : ''}}
													</div>
													<div class="col-sm-1" style="text-align: right; width: 5%;; padding-right: 8px;" ng-show="atividade_profissional.percentual_concluido">
														{{atividade_profissional.percentual_concluido}}%
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
</div>

{%endverbatim%}

{% endblock %}