
nav.navbar, nav.navbar a, nav.navbar ul, nav.navbar li {
	background-color: #007d9a;
	border-color: #007d9a;
	color: #fff;
	border-radius: 0
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	background-color: #007d9a;
	border-color: #007d9a;
	color: #fff;
	border-radius: 10px 10px 0px 0px
}

.nav-tabs>li>a:hover{
	border-radius: 10px 10px 0px 0px
}

.panel-primary>.panel-heading, .btn-primary{
	background-color: #007d9a;
	border-color: #007d9a;
}

nav.navbar a:hover, nav.navbar a:focus{ 
	color: #333;
}

div.buttonbar {
	margin-top: 2em;
}

button.button-heading, a.button-heading {
	padding: 2px;
	margin: 0;
	position: relative;
	bottom: 2px;
}

table.table{
	font-size: 12px
}

button.margin-top {
	margin-top: 15px
}

button.margin-botton{
	margin-bottom: 15px
}

button.margin-left{
	margin-left: 15px
}

table.table.nested, table.table.nested tr  {
	background-color: transparent;
}

input[ui-mask='99/99/9999'] {
	width: 90px
}

input[gb-cpf] {
	width: 100px
}

form .ng-invalid {
    border:1px solid #f00;
    background-color: #FFA;
}

.display-none {
	display: none
}

select.combo-heading {
	margin: 0px; padding: 0px; height: 17px;
	display: inline;
}
