div.buttonbar {
	margin-top: 2em;
}

table.table{
	font-size: 12px
}

button.margin-top {
	margin-top: 15px
}

button.margin-botton{
	margin-bottom: 15px
}

table.table.nested, table.table.nested tr  {
	background-color: transparent;
}

input[ui-mask='99/99/9999'] {
	width: 80px
}

input[gb-cpf] {
	width: 100px
}

form .ng-invalid {
    border:1px solid #f00;
    background-color: #FFA;
}
