<meta charset="utf-8">
{% extends "base_page.html" %}

{% block script %}
	<script src="/static/js/apps/cadastros/unidadeadministrativa/unidadeadministrativa.js"></script>
	<script src="/static/js/apps/cadastros/unidadeadministrativa/unidadeadministrativa-services.js"></script>
	<script src="/static/js/commons/commons.js"></script>
	<script src="/static/js/angular/ui-bootstrap-tpls-2.2.0.min.js"></script>
	<script src="/static/js/jquery/priceformat/jquery.priceformat.min.js"></script>
{% endblock %}

{%block content%}

{%verbatim%}

<style>
	table tr {
    	cursor: pointer;
	}
	button.margin {
		margin-bottom: 1em;
	}
	span.red { 
   		color:red;
  	}
</style>

<h1>Unidade administrativa</h1>

<form  name="unidadeadministrativa" ng-app="unidadeadministrativa" ng-controller="UnidadeAdministrativaController as $ctrl" ng-show="$ctrl.show" class="ng-hide">
  <div class="panel panel-default form-group-sm" >
	  <div class="panel-body">
	  	  <div class="row">
	  	  <div class="form-group col-sm-2">
		    <label for="codigo">Código</label>
		    <input type="text" class="form-control" id="codigo" name="codigo" ng-model="$ctrl.unidadeadministrativa.codigo" placeholder="Código" maxlength="10" required>
		    <span class="red" ng-show="centrocusto.nome.$invalid">Código é obrigatório.</span>
		  </div>
		  </div>
		  <div class="row">
		  <div class="form-group col-sm-6">
		    <label for="nome">Nome</label>
		    <input type="text" class="form-control" id="nome" name="nome" ng-model="$ctrl.unidadeadministrativa.nome" placeholder="Nome" maxlength="30" required>
		    <span class="red" ng-show="centrocusto.nome.$invalid">Nome é obrigatório.</span>
		  </div>
		  </div>
		  <button type="button" class="btn btn-default margin" ng-click="$ctrl.salvar()" ng-disabled="unidadeadministrativa.$invalid">Salvar</button>
		  <button type="button" class="btn btn-default margin" ng-click="$ctrl.novo()" ng-show="$ctrl.unidadeadministrativa.id">Novo</button>
		  
		  <table class="table table-responsive table-bordered table-striped table-highlight" ng-show="$ctrl.unidadeadministrativalist">
				<thead>
					<th>Código</th>
				    <th>Nome</th>
				    <th></th>
				</thead>
				<tbody>
				    <tr ng-repeat="unidadeadministrativa in $ctrl.unidadeadministrativalist">
				    	<td class="col-sm-2" ng-click="$ctrl.editar(unidadeadministrativa);">{{unidadeadministrativa.codigo}}</td>
				        <td class="col-sm-12" ng-click="$ctrl.editar(unidadeadministrativa);">{{unidadeadministrativa.nome}}</td>
				        <td>
				       		<button type="button" class="btn btn-default" ng-click="$ctrl.deletar(unidadeadministrativa)">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
				        </td>
				    </tr>
				</tbody>
		   </table>
					 
	 </div>
  </div>
</form>

{%endverbatim%}

{%endblock%}