<meta charset="utf-8">
<form name="despesas">
<div class="modal-body" id="modal-body">
	<div class="panel panel-primary form-group-sm margin-top">
		<div class="panel-heading">
			{{$ctrl.lote_despesa.demanda.nome_demanda}}
		</div>
		<div class="panel-body" ng-show="$ctrl.lotes_abertos.length > 0 && !$ctrl.lote_despesa">
			<ul>
				<li ng-repeat="l in $ctrl.lotes_abertos">
					<a href="#" ng-click="$ctrl.selecionarlote(l);">{{l.id}}</a>
				</li>
			</ul>
		</div>
		<div class="panel-body" ng-show="$ctrl.lote_despesa">
		
			<button class="btn btn-primary" type="button" ng-click="$ctrl.adicionar();">Adicionar</button>
			
			<table class="table">
				<thead>
					<tr>
						<th>N°Documento</th>
						<th>Valor</th>
						<th>Data</th>
						<th>Tipo</th>
						<th>Descrição</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="despesa in $ctrl.lote_despesa.item_despesas" ng-show="!despesa.remover">
						<td>
							<input type="text" class="form-control" ng-model="despesa.num_documento" style="width: 90px" ng-required="!despesa.remover">
						</td>
						<td>
							<input type="text" class="form-control" ng-model="despesa.valor" gb-money ng-change="$ctrl.calcularvalortotal();" style="width: 90px" ng-required="!despesa.remover">
						</td>
						<td>
							<input type="text" ui-mask="99/99/9999" model-view-value="true" ng-model="despesa.data" class="form-control" ng-required="!despesa.remover">
						</td>
						<td>
							<select class="form-control" ng-model="despesa.tipo_despesa.id" ng-options="t.id as t.descricao for t in $ctrl.tipo_despesas" ng-required="!despesa.remover">
								<option value="">Selecione...</option>
							</select>
						</td>
						<td>
							<input type="text" class="form-control" ng-model="despesa.descricao" style="width: 440px" ng-required="!despesa.remover">
						</td>
						<td>
							<button class="glyphicon glyphicon-trash" style="top: 0; background-color: transparent; border: 0; padding: 7px;" ng-click="$ctrl.remover(despesa);"></button>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td>
							<b>Total</b>
						</td>
						<td>
							<b>{{$ctrl.lote_despesa.valor_total}}</b>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
<div class="modal-footer">
     <button class="btn btn-primary" type="button" ng-click="$ctrl.salvar()" ng-disabled="despesas.$invalid">Salvar</button>
     <button class="btn btn-warning" type="button" ng-click="$ctrl.cancelar()">Cancelar</button>
</div>
</form>
	