<meta charset="utf-8">
<div class="modal-body" id="modal-body">

	<div class="panel panel-primary form-group-sm" style="padding-bottom: 0px;"> 
		<div class="panel-body">
			<div class="col-sm-4">
				<div class="row" >
					<div class="cabecalho">
						Demanda
					</div>
					<div class="col-sm-12" style="border: 1px solid #ccc; padding: 22px; font-size: 15px">
						<div class="col-sm-12" style="padding-bottom: 22px;">
							<b>{{$ctrl.demanda.id}} - {{$ctrl.demanda.nome_demanda}}</b>
						</div>
						<div class="col-sm-5">
							<label>Total:</label>
							{{$ctrl.total_orcamento}}
						</div>
						<div class="col-sm-6">
							<label>Valor restante:</label>
							{{$ctrl.valor_restante}}
						</div>
					</div>
				</div>
				
				<div class="row" ng-repeat="objeto_hora in $ctrl.objeto_horas" ng-show="objeto_hora.fase_descricao">
					<div class="cabecalho">
						{{objeto_hora.fase_descricao}}
					</div>
					<div>
						<table class="table table-sm">
							<tbody>
								<tr ng-repeat="valor_hora in objeto_hora" ng-show="valor_hora.valor_hora_descricao">
									<td>
										{{valor_hora.valor_hora_descricao}}
									</td>
									<td class="col-sm-2">
										{{valor_hora.total_horas}}
									</td>
									<td class="col-sm-2">
										{{valor_hora.horas_restantes.toFixed(2)}}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-sm-8" style="margin-bottom: 5px;">
				<div class="col-sm-3">
					<div class="input-group">
					    <input type="number" ng-model="$ctrl.numero_vezes" class="form-control" ng-disabled="$ctrl.parcelas.length > 0" ng-if="!$ctrl.lote_faturamento"/>
					    <span class="input-group-addon" for="tipo" ng-if="!$ctrl.lote_faturamento">Vezes</span>
					</div>
				</div>
				<div class="col-sm-2">
					<button type="button" class="btn btn-sm btn-primary" ng-click="$ctrl.gerarparcelas()" ng-disabled="!$ctrl.numero_vezes || $ctrl.parcelas.length > 0" ng-if="!$ctrl.lote_faturamento">
			  			<span class="glyphicon"></span> Gerar parcelas
					</button>
				</div>
				<div class="col-sm-1">
					<button type="button" class="btn btn-sm btn-default" ng-click="$ctrl.adicionarparcela()" ng-if="!$ctrl.lote_faturamento">
						<span class="glyphicon glyphicon-plus"></span> Adicionar parcela
					</button>
				</div>
			</div>
			<div class="col-sm-8">
				<form name="parcelas" style="height: 75%; overflow-y: scroll; overflow-x: scroll;">
					
					<table class="table table-sm table-bordered table-striped table-highlight" style="width: 1250px">
						<thead>
							<tr class="active">
								<th ng-show="$ctrl.lote_faturamento"></th>
								<th>LoteFat</th>
								<th width="6%">Parcela</th>
								<th>Status</th>
								<th width="9%">Data</th>
								<th width="9%">Fase</th>
								<th width="18%">Perfil</th>
								<th width="5%">Horas</th>
								<th width="10%">Valor</th>
								<th width="10%">Valor total</th>
								<th>Dt.Env.Aprov</th>
								<th>Dt.Aprov.Fat</th>
								<th>Dt.Prev.Pagto</th>
								<th width="9%">Dt.Fat.</th>
								<th width="9%">Dt.Pagto</th>
								<th width="9%">NF</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="parcela in $ctrl.parcelas">
								<td ng-show="$ctrl.lote_faturamento">
									<input type="checkbox" ng-model="parcela.selecionado" ng-disabled="parcela.pacote_itens.id">
								</td>
								<td>
									{{parcela.lote.id}}
								</td>
								<td>
									<input type="text" ng-model="parcela.descricao" class="form-control"/>
								</td>
								<td>
									{{parcela.status == 'PE' ? 'Pendente' : ''}}
									{{parcela.status == 'PA' ? 'Pendente aprovação' : ''}}
									{{parcela.status == 'PF' ? 'Pendente faturamento' : ''}}
									{{parcela.status == 'FA' ? 'Faturado' : ''}}
									{{parcela.status == 'PG' ? 'Pago' : ''}}
								</td>
								<td>
									<input type="text" class="form-control" ng-model="parcela.data_previsto_parcela" ui-mask="99/99/9999" model-view-value="true" ng-required="!parcela.remover"/>
								</td>
								<td>
									<div ng-repeat="parcelafase in parcela.parcelafases">
										<select ng-model="parcelafase.fase.id" ng-options="f.id as f.fase.descricao for f in $ctrl.listafases" ng-change="$ctrl.verificarduplicidadefase(parcela, parcelafase, {{ parcelafase.fase && parcelafase.fase.id ? parcelafase.fase.id : 'null' }})" class="form-control">
									    	<option value="">Selecione...</option>
									    </select>
								    	<div ng-repeat="n in [].constructor(parcelafase.medicoes.length - 1)" style="height: 26px;">&nbsp;</div>
									</div>
								</td>
								<td>
									<span ng-repeat="parcelafase in parcela.parcelafases">
										<span ng-repeat="medicao in parcelafase.medicoes">
											<select id="valorhora" name="valorhora" ng-model="medicao.valor_hora.id" class="form-control" ng-change="$ctrl.verificarduplicidade(parcelafase, medicao, {{ medicao.valor_hora && medicao.valor_hora.id ? medicao.valor_hora.id : 'null' }}); $ctrl.changevalorhora(medicao); $ctrl.changequantidadehoras(medicao);" ng-options="v.id as v.descricao for v in $ctrl.valorhoraobject[parcelafase.fase.id]">
									    		<option value="">Selecione um tipo...</option>
									    	</select>
										</span>
									</span>
								</td>
								<td>
									<span ng-repeat="parcelafase in parcela.parcelafases">
										<span ng-repeat="medicao in parcelafase.medicoes">
											<input type="text" id="quantidade_horas" ng-model="medicao.quantidade_horas" ng-change="$ctrl.changequantidadehoras(medicao)" gb-number name="quantidade_horas" class="form-control"/>
										</span>
									</span>
								</td>
								<td>
									<span ng-repeat="parcelafase in parcela.parcelafases">
										<span ng-repeat="medicao in parcelafase.medicoes">
											<input type="text" id="valor_total" name="valor_total" ng-model="medicao.valor_total" ng-change="$ctrl.calcularhorasmedicoes()" gb-money class="form-control"/>
										</span>
									</span>
								</td>
								<td>
									<input type="text" id="valor_parcela" name="valor_parcela" ng-model="parcela.valor_parcela" class="form-control" disabled/>
								</td>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>
	<button type="button" class="btn btn-sm btn-primary" ng-click="$ctrl.gravarparcelas()" ng-disabled="parcelas.$invalid">Gravar</button>
	<button type="button" class="btn btn-sm btn-primary" ng-click="$ctrl.selecionarparcelas()" ng-if="$ctrl.lote_faturamento">Selecionar</button>
	<button type="button" class="btn btn-sm btn-primary"  ng-click="$ctrl.fechar()">Sair</button>	
</div>