<meta charset="utf-8">
<div class="modal-body" id="modal-body">

		<div class="panel panel-primary form-group-sm margin-top">
		<div class="panel-body">
		asdfasdf
			<!-- <div class="form-group" style="width: 90px">
				<input date-time="" ng-model="dates.minDate" id="pickerMinSelector" date-change="changeMinMax" max-date="maxDate" view="date" timezone="UTC" format="lll" class="ng-valid ng-scope ng-valid-max ng-dirty ng-touched">
			</div>
			<div class="form-group" style="width: 90px">
				<label class="control-label">Hora inicial</label>
				<input class="form-control" type="text" ng-model="teste1" ui-mask="99:99" model-view-value="true" style="width: 60px;"/>
			</div>
			<div class="form-group" style="width: 90px">
				<label class="control-label">Hora final</label>
				<input class="form-control" ng-model="teste1" ui-mask="99:99" model-view-value="true" style="width: 60px;"/>
			</div>
			<div class="form-group" style="width: 90px">
				<label class="control-label">% Concluído</label>
				<input class="form-control" ng-model="teste1" mask="999" restrict="reject" style="width: 60px;"/>
			</div>
			<div class="form-group col-sm-12">
				<label class="control-label"></label>
				<textarea class="form-control"></textarea>
			</div>  -->
		</div>
		</div>
</div>
	