<meta charset="utf-8">
{% extends "base_page.html" %}

{% block script %}
	<script src="/static/js/apps/cadastros/centroresultado/centroresultado.js"></script>
	<script src="/static/js/apps/cadastros/centroresultado/centroresultado-services.js"></script>
	<script src="/static/js/commons/commons.js"></script>
	<script src="/static/js/angular/ui-bootstrap-tpls-2.2.0.min.js"></script>
	<script src="/static/js/jquery/priceformat/jquery.priceformat.min.js"></script>
{% endblock %}

{%block content%}

{%verbatim%}

<style>
	table tr {
    	cursor: pointer;
	}
	button.margin {
		margin-bottom: 1em;
	}
	span.red { 
   		color:red;
  	}
</style>

<h1>Centro de resultado</h1>

<form  name="centroresultado" ng-app="centroresultado" ng-controller="CentroResultadoController as $ctrl" ng-show="$ctrl.show" class="ng-hide">
  <div class="panel panel-default form-group-sm" >
	  <div class="panel-body">
		  <div class="form-group">
		    <label for="nome">Centro de resultado</label>
		    <input type="text" class="form-control" id="nome" name="nome" ng-model="$ctrl.centroresultado.nome" placeholder="Centro de custo" maxlength="30" required>
		    <span class="red" ng-show="centroresultado.nome.$invalid">Centro de resultado é obrigatório.</span>
		  </div>
		  <button type="button" class="btn btn-default margin" ng-click="$ctrl.salvar()" ng-disabled="centroresultado.$invalid">Salvar</button>
		  <button type="button" class="btn btn-default margin" ng-click="$ctrl.novo()" ng-show="$ctrl.centroresultado.id">Novo</button>
		  
		  <table class="table table-responsive table-bordered table-striped table-highlight" ng-show="$ctrl.centroresultadolist">
				<thead>
				    <th>Centro de resultado</th>
				    <th></th>
				</thead>
				<tbody>
				    <tr ng-repeat="centroresultado in $ctrl.centroresultadolist">
				        <td class="col-sm-12" ng-click="$ctrl.editar(centroresultado);">{{centroresultado.nome}}</td>
				        <td>
				       		<button type="button" class="btn btn-default" ng-click="$ctrl.deletar(centroresultado)">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
				        </td>
				    </tr>
				</tbody>
		   </table>
					 
	 </div>
  </div>
</form>

{%endverbatim%}

{%endblock%}