<meta charset="utf-8">
{% extends "base_page.html" %}

{% block script %}
	<script src="/static/js/apps/recursos/recursos.js"></script>
	<script src="/static/js/apps/recursos/recursos-services.js"></script>
	<script src="/static/js/commons/commons.js"></script>
	<script src="/static/js/angular/ui-bootstrap-tpls-2.2.0.min.js"></script>
	<script src="/static/js/jquery/priceformat/jquery.priceformat.min.js"></script>
{% endblock %}

{%block content%}

<style>
  .typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
  }

  .typeahead-demo .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
  }

  .typeahead-demo .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  
  span.red { 
   color:red;
  }
  
 
  table tr {
    cursor: pointer;
  }
	
</style>


{% if funcionario %}
<script type="text/javascript">
	
	var funcionario_id = {{funcionario.id}}
	
</script>
{% else %}
<script type="text/javascript">
	
	var funcionario_id = null;
	
</script>
{% endif %}

{%verbatim%}

<h1>Funcionário</h1>

<form name="recursos" ng-app="recursos" ng-controller="RecursosController as $ctrl">
	<div class="panel panel-default" >
		<div class="panel-body">
		  <div class="form-group form-group-sm">
		    <label for="nome">Nome</label>
		    <input type="text" class="form-control" id="nome" ng-model="$ctrl.funcionario.nome" name="nome" placeholder="Nome" required/>
		    <span class="red" ng-show="recursos.nome.$invalid">Nome é obrigatório.</span>
		  </div>
		  <div class="form-group">
		  	<label for="coordenador">Cargo</label>
		  	<div class="input-group">
			    <select id="cargo" name="cargo" class="form-control" ng-model="$ctrl.funcionario.cargo.id" ng-options="c.id as c.nome_cargo for c in $ctrl.listacargos" required>
			    	<option value="">Selecione um cargo...</option>
			    </select>
			    <span class="input-group-btn">
		        	<button class="btn btn-secondary" type="button" ng-click="open()">+</button>
		     	 </span>
	        </div>
	        <span class="red" ng-show="recursos.cargo.$invalid">Cargo é obrigatório.</span>
		  </div>
		  <div class="form-group form-group-sm">
		    <label for="rg">RG</label>
		    <input type="text" class="form-control" id="rg" name="rg" gb-rg ng-model="$ctrl.funcionario.rg" placeholder="RG" required/>
		    <span class="red" ng-show="recursos.rg.$invalid">RG é obrigatório.</span>
		  </div>
		  <div class="form-group form-group-sm">
		    <label for="cpf">CPF</label>
		    <input type="text"  class="form-control" id="cpf" name="cpf" ng-model="$ctrl.funcionario.cpf" gb-cpf placeholder="CPF" required>
		    <span class="red" ng-show="recursos.cpf.$invalid">CPF é obrigatório.</span>
		  </div>
		  <div class="form-group form-group-sm">
		    <label for="endereco">Endereço</label>
		    <input type="text" class="form-control" id="endereco" name="endereco" ng-model="$ctrl.funcionario.endereco" placeholder="Endereço" required>
		    <span class="red" ng-show="recursos.endereco.$invalid">Endereço é obrigatório.</span>
		  </div>
		  <div class="form-group form-group-sm">
		    <label for="cidade">Cidade</label>
		    <input type="text" class="form-control" id="cidade" name="cidade" ng-model="$ctrl.funcionario.cidade" placeholder="Cidade" required>
		    <span class="red" ng-show="recursos.cidade.$invalid">Cidade é obrigatório.</span>
		  </div>
		  <div class="form-group">
		    <label for="estado">Estado</label>
		    <input type="text" class="form-control" id="estado" name="estado" ng-model="$ctrl.funcionario.estado" placeholder="Estado" required>
		    <span class="red" ng-show="recursos.estado.$invalid">Estado é obrigatório.</span>
		  </div>
		  <div class="form-group">
		    <label for="cep">CEP</label>
		    <input type="text" class="form-control" id="cep" name="cep" gb-cep ng-model="$ctrl.funcionario.cep" placeholder="CEP" required>
		    <span class="red" ng-show="recursos.cep.$invalid">CEP é obrigatório.</span>
		  </div>
		  <div class="form-group">
		    <label for="salario">Salário</label>
		    <input type="text" class="form-control" id="salario" name="salario" ng-model="$ctrl.funcionario.salario" placeholder="Salário" required gb-money>
		    <span class="red" ng-show="recursos.salario.$invalid">Salário é obrigatório.</span>
		  </div>
		  <div class="form-group">
		    <label for="data_admissao">Data de admissão</label>
		    <input type="text" class="form-control" id="data_admissao" name="data_admissao" ng-model="$ctrl.funcionario.data_admissao" gb-data placeholder="Salário" required>
		    <span class="red" ng-show="recursos.data_admissao.$invalid">Data admissão é obrigatório.</span>
		  </div>
		  <button type="submit" class="btn btn-primary" name="gravar" ng-click="$ctrl.salvar()" ng-disabled="recursos.$invalid">Salvar</button>
		  <button type="submit" class="btn btn-danger" name="gravar" ng-click="$ctrl.deletar()" ng-show="$ctrl.funcionario.id">Deletar</button>
		  <div class="label {{$ctrl.clazz}}" ng-bind="$ctrl.message" ></div>
		</div>
		<script type="text/ng-template" id="myModalContent.html">
		<div class="modal-header">
			<h3 class="modal-title" id="modal-title">Cargos</h3>
		</div>
		<div class="modal-body" id="modal-body">
			<div class="form-group">
				<label for="numero_proposta">Nome do cargo</label>
				<input type="text" id="numero_proposta" class="form-control" ng-model="$ctrl.nome_cargo" placeholder="Nome do cargo"/>
			</div>
			<button class="btn btn-primary" type="button" ng-click="$ctrl.salvar()">Salvar</button>
			<button class="btn btn-danger" type="button" ng-show="$ctrl.cargo.id" ng-click="$ctrl.deletar()">Deletar</button>
			<table class="table table-hover">
 				<thead>
 					<tr>
	  					<th>Nome do cargo</th>
 					</tr>
 				</thead>
 				<tbody>
 					<tr ng-repeat="cargo in $ctrl.listacargos" ng-click="$ctrl.edit(cargo)">
 						<td ng-bind="cargo.nome_cargo"></td>
 					</tr>
 				</tbody>
 			</table>
		</div>
		<div class="modal-footer">
    		<button class="btn btn-primary" type="button" ng-click="$ctrl.close()">Sair</button>
		</div> 
	</script>
	</div>
</form>

{%endverbatim%}

{%endblock%}