<meta charset="utf-8">
{% extends "base_page.html" %}

{% block script %}
	<script src="/static/js/apps/clientes/clientes.js"></script>
	<script src="/static/js/apps/clientes/clientes-services.js"></script>
	<script src="/static/js/apps/cadastros/centrocusto/centrocusto-services.js"></script>
	<script src="/static/js/commons/commons.js"></script>
	<script src="/static/js/angular/ui-bootstrap-tpls-2.2.0.min.js"></script>
	<script src="/static/js/jquery/priceformat/jquery.priceformat.min.js"></script>
{% endblock %}

{%block content%}


{% if cliente %}
<script type="text/javascript">
	
	var cliente_id = {{cliente.id}}
	
</script>
{% else %}
<script type="text/javascript">
	
	var cliente_id = null;
	
</script>
{% endif %}

{%verbatim%}

<style>
	button.margin {
		margin-bottom: 1em;
	}
	span.red { 
   		color:red;
  	}
</style>

<h1>Cliente</h1>

<form  name="clientes" ng-app="clientes" ng-controller="ClientesController as $ctrl" ng-show="$ctrl.show" class="ng-hide">
  <div class="panel panel-default form-group-sm" >
	  <div class="panel-body">
		  <div class="form-group">
		    <label for="razao_social">Razão social</label>
		    <input type="text" class="form-control" id="razao_social" name="razao_social" ng-model="$ctrl.cliente.razao_social" placeholder="Razão Social" required>
		    <span class="red" ng-show="clientes.razao_social.$invalid">Nome é obrigatório.</span>
		  </div>
		  <div class="form-group">
		    <label for="cnpj">CNPJ</label>
		    <input type="text" class="form-control" id="cnpj" name="cnpj" ng-model="$ctrl.cliente.cnpj" placeholder="CNPJ" gb-cnpj required>
		    <span class="red" ng-show="clientes.cnpj.$invalid">CNPJ é obrigatório.</span>
		  </div>
		  <div class="form-group">
		    <label for="endereco">Endereço</label>
		    <input type="text" class="form-control" id="endereco" name="endereco" ng-model="$ctrl.cliente.endereco" placeholder="Endereço" required>
		    <span class="red" ng-show="clientes.endereco.$invalid">CNPJ é obrigatório.</span>
		  </div>
		  <div class="form-group">
		    <label for="cidade">Cidade</label>
		    <input type="text" class="form-control" id="cidade" name="cidade" ng-model="$ctrl.cliente.cidade" placeholder="Cidade" required>
		    <span class="red" ng-show="clientes.cidade.$invalid">Cidade é obrigatório.</span>
		  </div>
		  <div class="form-group">
		    <label for="estado">Estado</label>
		    <input type="text" class="form-control" id="estado" name="estado" ng-model="$ctrl.cliente.estado" placeholder="Estado" required>
		    <span class="red" ng-show="clientes.estado.$invalid">Estado é obrigatório.</span>
		  </div>
		  <div class="form-group">
		    <label for="cep">CEP</label>
		    <input type="text" class="form-control" id="cep" name="cep" ng-model="$ctrl.cliente.cep" placeholder="CEP" gb-cep required>
		    <span class="red" ng-show="clientes.cep.$invalid">CEP é obrigatório.</span>
		  </div>
		  <div class="form-group">
		    <label for="dias_faturamento">Dias para faturamento</label>
		    <input type="number" class="form-control" id="dias_faturamento" name="dias_faturamento" ng-model="$ctrl.cliente.dias_faturamento" placeholder="Dias para faturamento" required>
		    <span class="red" ng-show="clientes.dias_faturamento.$invalid">Dias para faturamento é obrigatório.</span>
		  </div>
		  <div class="form-group">
		    <label for="dias_pagamento">Dias para pagamento</label>
		    <input type="number" class="form-control" id="dias_pagamento" name="dias_pagamento" ng-model="$ctrl.cliente.dias_pagamento" placeholder="Dias para pagamento" required>
		    <span class="red" ng-show="clientes.dias_pagamento.$invalid">Dias para pagamento é obrigatório.</span>
		  </div>
		  <div class="form-group">
		    <label for="data_contratacao">Data da contratação</label>
		    <input type="text" class="form-control" id="data_contratacao" name="data_contratacao" ng-model="$ctrl.cliente.data_contratacao" ui-mask="99/99/9999" model-view-value="true" required>
		    <span class="red" ng-show="clientes.data_contratacao.$invalid">Data da contratação é obrigatório.</span>
		  </div>
		  <div class="form-group">
		    <label for="data_rescisao">Data da rescisão</label>
		    <input type="text" class="form-control" id="data_rescisao" name="data_rescisao" ng-model="$ctrl.cliente.data_rescisao" ui-mask="99/99/9999" model-view-value="true">
		  </div>
		  <div class="form-group">
		    <label for="centro_custo">Centro de custo</label>
		    <select id="centro_custo" name="centro_custo" class="form-control" ng-model="$ctrl.cliente.centro_custo.id" ng-options="c.id as c.nome for c in $ctrl.listacentrocusto">
		    	<option value="">Selecione...</option>
		    </select>
		  </div>
		  <button type="submit" class="btn btn-primary" name="salvar" ng-click="$ctrl.salvar()" ng-disabled="clientes.$invalid">Salvar</button>
		  <button type="submit" class="btn btn-danger" name="deletar" ng-click="$ctrl.deletar()" ng-show="$ctrl.cliente.id">Deletar</button>
		  <div class="label {{$ctrl.clazz}}" ng-bind="$ctrl.message" ></div>
	 </div>
  </div>
</form>

{%endverbatim%}

{%endblock%}