<meta charset="utf-8">
{% extends "base_page.html" %}

{% block script %}
	<script src="/static/js/apps/clientes/clientes.js"></script>
	<script src="/static/js/apps/clientes/clientes-services.js"></script>
	<script src="/static/js/commons/commons.js"></script>
	<script src="/static/js/angular/ui-bootstrap-tpls-2.2.0.min.js"></script>
	<script src="/static/js/jquery/priceformat/jquery.priceformat.min.js"></script>
{% endblock %}

{%block content%}


{% if cliente %}
<script type="text/javascript">
	
	var cliente_id = {{cliente.id}}
	
</script>
{% else %}
<script type="text/javascript">
	
	var cliente_id = null;
	
</script>
{% endif %}

{%verbatim%}

<style>
	button.margin {
		margin-bottom: 1em;
	}
	span.red { 
   		color:red;
  	}
</style>

<h1>Cliente</h1>

<form  name="clientes" ng-app="clientes" ng-controller="ClientesController as $ctrl" ng-show="$ctrl.show" class="ng-hide">
  <div class="panel panel-default form-group-sm" >
	  <div class="panel-body">
		  <div class="form-group">
		    <label for="razao_social">Razão social</label>
		    <input type="text" class="form-control" id="razao_social" name="razao_social" ng-model="$ctrl.cliente.razao_social" placeholder="Razão Social" required>
		    <span class="red" ng-show="clientes.razao_social.$invalid">Nome é obrigatório.</span>
		  </div>
		  <div class="form-group">
		    <label for="cnpj">CNPJ</label>
		    <input type="text" class="form-control" id="cnpj" name="cnpj" ng-model="$ctrl.cliente.cnpj" placeholder="CNPJ" gb-cnpj required>
		    <span class="red" ng-show="clientes.cnpj.$invalid">CNPJ é obrigatório.</span>
		  </div>
		  <div class="form-group">
		    <label for="endereco">Endereço</label>
		    <input type="text" class="form-control" id="endereco" name="endereco" ng-model="$ctrl.cliente.endereco" placeholder="Endereço" required>
		    <span class="red" ng-show="clientes.endereco.$invalid">CNPJ é obrigatório.</span>
		  </div>
		  <div class="form-group">
		    <label for="cidade">Cidade</label>
		    <input type="text" class="form-control" id="cidade" name="cidade" ng-model="$ctrl.cliente.cidade" placeholder="Cidade" required>
		    <span class="red" ng-show="clientes.cidade.$invalid">Cidade é obrigatório.</span>
		  </div>
		  <div class="form-group">
		    <label for="estado">Estado</label>
		    <input type="text" class="form-control" id="estado" name="estado" ng-model="$ctrl.cliente.estado" placeholder="Estado" required>
		    <span class="red" ng-show="clientes.estado.$invalid">Estado é obrigatório.</span>
		  </div>
		  <div class="form-group">
		    <label for="cep">CEP</label>
		    <input type="text" class="form-control" id="cep" name="cep" ng-model="$ctrl.cliente.cep" placeholder="CEP" gb-cep required>
		    <span class="red" ng-show="clientes.cep.$invalid">CEP é obrigatório.</span>
		  </div>
		  <div class="form-group">
		    <label for="data_contratacao">Data da contratação</label>
		    <input type="text" class="form-control" id="data_contratacao" name="data_contratacao" ng-model="$ctrl.cliente.data_contratacao" gb-data placeholder="Data da contratação" required>
		    <span class="red" ng-show="clientes.data_contratacao.$invalid">Data da contratação é obrigatório.</span>
		  </div>
		  <div class="form-group">
		    <label for="data_rescisao">Data da rescisão</label>
		    <input type="text" class="form-control" id="data_rescisao" name="data_rescisao" ng-model="$ctrl.cliente.data_rescisao" gb-data placeholder="Data da rescisão">
		  </div>
		  <div class="table-responsive">
				<div class="panel panel-default form-group-sm" >
					 <div class="panel-heading">
					 	Tipo valor hora
					 </div>
					 <div class="panel-body">
					  	<button type="button" class="btn btn-default margin" ng-click="$ctrl.adicionar()">
					  		<span class="glyphicon glyphicon-plus"></span> Adicionar
					  	</button>
						<table class="table table-bordered table-striped table-highlight" ng-show="$ctrl.cliente.tipovalorhora">
						    <thead>
						        <th>Tipo hora</th>
						        <th>Valor hora</th>
						        <th></th>
						    </thead>
						    <tbody>
						        <tr ng-repeat="tipovalorhora in $ctrl.cliente.tipovalorhora">
						            <td><input type="text" ng-model="tipovalorhora.tipo_hora" class="form-control" placeholder="Tipo hora"/></td>
						            <td><input type="text" ng-model="tipovalorhora.valor_hora" class="form-control" placeholder="Valor da hora" gb-money/></td>
						            <td>
						            	<button type="button" class="btn btn-default" ng-click="$ctrl.deletarvalorhora(tipovalorhora)">
													<span class="glyphicon glyphicon-trash"></span>
										</button>
						            </td>
						        </tr>
						    </tbody>
						 </table>
					 </div>
				</div>
    	  </div>
		  <button type="submit" class="btn btn-primary" name="salvar" ng-click="$ctrl.salvar()" ng-disabled="clientes.$invalid">Salvar</button>
		  <button type="submit" class="btn btn-danger" name="deletar" ng-show="$ctrl.cliente.id">Deletar</button>
		  <div class="label {{$ctrl.clazz}}" ng-bind="$ctrl.message" ></div>
	 </div>
  </div>
</form>

{%endverbatim%}

{%endblock%}