<!DOCTYPE html>
<html lang="pt">
<head>
  <title>B2Card</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0">
  <link rel="stylesheet" href="/static/bootstrap/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/angular-material.min.css">
  
  <link rel="shortcut icon" type="image/png" href="/static/img/favicon.ico"/>
  
  <script src="/static/js/jquery/jquery-3.1.0.min.js"></script>
  <script src="/static/js/jquery/maskedinput/jquery.maskedinput.min.js"></script>
  <script src="/static/bootstrap/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  
  <script src="/static/js/angular/angular.min.js"></script>
  <script src="/static/js/angular/angular-locale_pt-br.js"></script>
  <script src="/static/js/angular/mask.min.js"></script>
  <script src="/static/js/angular/angular-resource.min.js"></script>
  <script src="/static/js/angular/angular-material.min.js"></script>
  <script src="/static/js/angular/angular-animate.min.js"></script>
  <script src="/static/js/angular/angular-aria.min.js"></script>
  <script src="/static/js/angular/angular-messages.min.js"></script>
  <script src="/static/js/angular/moment.js"></script>
  
  
  
  <link rel="stylesheet" href="/static/css/style.css">
  
  <style>
    div.margin.body {
    	margin: 1em;
    }
  </style>
  
</head>

<body>
	{% include "link_menu.html" %}
	<div class="margin body ">
		
		<div id="messagens">
			{% if success %}
			<div class="alert alert-success">
			  <strong>Sucesso!</strong> {{ success.message }}
			</div>
			{% endif %}
			{% if info %}
			<div class="alert alert-info">
			  <strong>Informação!</strong> {{ info.message }}
			</div>
			{% endif %}
			{% if perigo %}
			<div class="alert alert-warning">
			  <strong>Perigo!</strong> {{ perigo.message }}
			</div>
			{% endif %}
			{% if error %}
			<div class="alert alert-danger">
			  <strong>Erro!</strong> {{ error.message }}
			</div>
			{% endif %}
			
			{%verbatim%}
			<div id="message-app" ng-controller="MessageController as $ctrl" class="ng-hide" ng-show="$ctrl.show">
				<div class="alert {{$ctrl.messages.clazz}}" ng-show="$ctrl.messages.message">
				  	<strong></strong>{{ $ctrl.messages.message }}
				</div>
			</div>
			{%endverbatim%}
			
			{% block content %}{% endblock %}
			
		</div>
	</div>
	
	<script src="/static/js/commons/commons.js"></script>
	<script src="/static/js/angular/ui-bootstrap-tpls-2.2.0.min.js"></script>
	<script src="/static/js/jquery/priceformat/jquery.priceformat.min.js"></script>
	
	{% block script %}{% endblock %}
	
	<script type="text/javascript">
	  	angular.bootstrap(document.getElementById('message-app'), ['commons']);
  	</script>
	
</body>
</html>