<!DOCTYPE html>
<html lang="pt">
<head>
  <title>B2Card</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/bootstrap/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  
  <script src="/static/js/jquery/jquery-3.1.0.min.js"></script>
  <script src="/static/js/jquery/maskedinput/jquery.maskedinput.min.js"></script>
  <script src="/static/bootstrap/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <script src="/static/js/angular/angular.min.js"></script>
  <script src="/static/js/angular/mask.min.js"></script>
  <script src="/static/js/angular/angular-resource.min.js"></script>
  
  <style>
    div.margin.body {
    	margin: 1em;
    }
  </style>
</head>

<body>
	{% include "link_menu.html" %}
	<div class="margin body ">
		
		<div id="messagens">
			{% if success %}
			<div class="alert alert-success">
			  <strong>Sucesso!</strong> {{ success.message }}
			</div>
			{% endif %}
			{% if info %}
			<div class="alert alert-info">
			  <strong>Informação!</strong> {{ info.message }}
			</div>
			{% endif %}
			{% if perigo %}
			<div class="alert alert-warning">
			  <strong>Perigo!</strong> {{ perigo.message }}
			</div>
			{% endif %}
			{% if error %}
			<div class="alert alert-danger">
			  <strong>Erro!</strong> {{ error.message }}
			</div>
			{% endif %}
			{% block content %}{% endblock %}
		</div>
	</div>
	{% block script %}{% endblock %}
</body>
</html>