<meta charset="utf-8">

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
	      <a class="navbar-brand" href="#">B2Card</a>
	    </div>
	    <ul class="nav navbar-nav">
			<li> <!-- class="active" -->
				<a href="{% url 'inicial:inicial' %}">
					Inicio 
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Cadastros
				<span class="caret"></span></a>
				<ul class="dropdown-menu">
          			<li>
						<a href="{% url 'recursos:inicial' %}">
							Funcionários
						</a>
						<a href="{% url 'cadastros:tipohora' %}">
							Tipo hora
						</a>
						<a href="{% url 'cadastros:centrocusto' %}">
							Centros de custo
						</a>
						<a href="{% url 'cadastros:centroresultado' %}">
							Centro de resultado
						</a>
						<a href="{% url 'cadastros:contagerencial' %}">
							Conta Gerencial
						</a>
						<a href="{% url 'cadastros:naturezaoperacao' %}">
							Natureza da operação
						</a>
						<a href="{% url 'cadastros:valorhora' %}">
							Valor hora
						</a>
					</li>
        		</ul>
			</li>
			<li>
				<a href="{% url 'clientes:inicial' %}">
					Clientes
				</a>
			</li>
			<li>
				<a href="{% url 'demandas:inicial' %}">
					Demandas
				</a>
			</li>
			<li>
				<a href="{% url 'autenticacao:logout_view' %}">
					Sair
				</a>
			</li>
		</ul>
 	</div>
 </nav>
