<meta charset="utf-8">
{% extends "base_page.html" %}

{% block script %}

	<script src="/static/js/jquery/priceformat/jquery.priceformat.min.js"></script>
{% endblock %}



{%block content%}

{% for demanda in demandas %}

<div class="panel panel-primary form-group-sm">
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="total_orcamento">Nome da demanda</label>
					<input type="text" class="form-control" value="{{demanda.nome_demanda}}" disabled/>
				</div>
			</div>
		</div>
		
		<table class="table table-sm table-bordered table-striped table-highlight">
				<thead>
					<tr class="active">
						<th>ID</th>
						<th>Descrição</th>
						<th>Data previsto parcela</th>
						<th>Valor da parcela</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for parcela in demanda.parcelas %}
					<tr>
						<td class="col-sm-1">
							<input type="text" id="id" value="{{parcela.id}}" name="id" maxlength="30" class="form-control" disabled/>
						</td>
						<td class="col-sm-4">
							<input type="text" id="descricao" value="{{parcela.descricao}}" name="descricao" maxlength="30" class="form-control"/>
						</td>
						<td class="col-sm-4">
							<input type="text" id="data_previsto_parcela" value="{{parcela.data_previsto_parcela}}" name="data_previsto_parcela" maxlength="30" ui-mask="99/99/9999" model-view-value="true" class="form-control"/>
						</td>
						<td class="col-sm-4">
							<input type="text" id="valor_parcela" value="{{parcela.valor_parcela}}" name="valor_parcela" ng-change="$ctrl.calcularparcela(parcela)" maxlength="30" gb-money class="form-control"/>
						</td>
						<td>
							<button type="button" class="btn btn-default" ng-click="$ctrl.remover(parcela, $ctrl.calcularvalorrestante)">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		
	</div>
</div>

<br>
{% endfor %}

{%endblock%}