<meta charset="utf-8">
{% extends "base_page.html" %}

{% block script %}
	<script src="/static/js/apps/faturamento/contasreceber/contasreceber.js"></script>
	<script src="/static/js/apps/faturamento/contasreceber/contasreceber-service.js"></script>
	<script src="/static/js/apps/cadastros/pessoa/pessoa-services.js"></script>
	<script src="/static/js/apps/demandas/pesquisa-services.js"></script>
	<script src="/static/js/apps/demandas/demandas-services.js"></script>
	<script src="/static/js/apps/faturamento/parcela.js"></script>
	<script src="/static/js/apps/faturamento/parcela-services.js"></script>
	<script src="/static/js/apps/cadastros/valorhora/valorhora-services.js"></script>
	<script src="/static/js/commons/commons.js"></script>
	<script src="/static/js/angular/ui-bootstrap-tpls-2.2.0.min.js"></script>
	<script src="/static/js/jquery/priceformat/jquery.priceformat.min.js"></script>
{% endblock %}



{%block content%}

<style>

button.margin {
	margin-top: 21px
}

.app-modal-window .modal-dialog {
	  width: 100%;
	  height: 100%;
	  margin: 0;
	  padding: 0;
	}
	.modal-content {
	  height: auto;
	  min-height: 100%;
	  border-radius: 0;
	}

</style>

{%verbatim%}

<div ng-app="contasreceber" class="ng-hide" ng-show="$ctrl.show" ng-controller="ContasReceberController as $ctrl">

	<div class="alert alert-danger" ng-show="$ctrl.messagem">
		 {{$ctrl.messagem}}
	</div>
	
	<div class="panel panel-primary form-group-sm">
		<div class="panel-body">
			<form name="arguments">
				<div class="col-sm-3">
				<div class="form-group">
					<label for="cliente">Cliente</label>
					<select type="text" id="cliente" name="cliente" ng-model="$ctrl.arguments.cliente_id" class="form-control" ng-options="c.id as c.pessoa.nome_razao_social for c in $ctrl.listaclientes" required>
						<option value="">Selecione...</option>
					</select>
				</div>
				</div>
				<button type="button" class="btn btn-sm btn-default margin" ng-click="$ctrl.pesquisar();" ng-disabled="arguments.$invalid">Pesquisar</button>
			</form>
		</div>
	</div>
	
	<div class="col-sm-4">
		<table class="table table-sm">
			<thead>
				<tr>
					<th>Cliente</th>
					<th>Demanda</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="demanda in $ctrl.resultados" ng-click="$ctrl.abrirparcelas(demanda);">
					<td>
						{{demanda.cliente.pessoa.nome_razao_social}}
					</td>
					<td>
						{{demanda.nome_demanda}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-sm-6">
		<div class="row">
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th><div style="width: 150px">Cliente</div></th>
						<th>Parcela</th>
						<th>Dt.Prev.Fat</th>
						<th>Fase</th>
						<th>Perfil</th>
						<th><div style="width: 35px">Horas</div></th>
						<th>Valor</th>
						<th>Valor total</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="itemfaturamento in $ctrl.listaitensfaturamento">
						<td>
							<div class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="$ctrl.remover(itemfaturamento);"></div>
						</td>
						<td>
							<div>
							{{itemfaturamento.demanda.cliente.pessoa.nome_razao_social}}
							</div>
						</td>
						<td>
							<div>
							{{itemfaturamento.descricao}}
							</div>
						</td>
						<td>
							<div>
							{{itemfaturamento.data_previsto_parcela}}
							</div>
						</td>
						<td>
							<div ng-repeat="parcelafase in itemfaturamento.parcelafases">
								<select ng-model="parcelafase.fase.id" class="disabled_select"  ng-options="f.id as f.fase.descricao for f in $ctrl.listafases" ng-change="$ctrl.verificarduplicidadefase(parcela, parcelafase, {{ parcelafase.fase && parcelafase.fase.id ? parcelafase.fase.id : 'null' }})" disabled>
							    	<option value="">Selecione...</option>
							    </select>
						    	<div ng-repeat="n in [].constructor(parcelafase.medicoes.length - 1)" style="height: 26px;">&nbsp;</div>
							</div>
						</td>
						<td>
							<div ng-repeat="parcelafase in itemfaturamento.parcelafases">
								<span ng-repeat="medicao in parcelafase.medicoes">
									<select id="valorhora" name="valorhora" class="disabled_select"  ng-model="medicao.valor_hora.id" ng-change="$ctrl.verificarduplicidade(parcelafase, medicao, {{ medicao.valor_hora && medicao.valor_hora.id ? medicao.valor_hora.id : 'null' }}); $ctrl.changevalorhora(medicao); $ctrl.changequantidadehoras(medicao);" ng-options="v.id as v.descricao for v in $ctrl.listavalorhora" disabled>
							    		<option value="">Selecione um tipo...</option>
							    	</select>
								</span>
							</div>	
						</td>
						<td>
							<div ng-repeat="parcelafase in itemfaturamento.parcelafases" style="width: 20px">
								<span ng-repeat="medicao in parcelafase.medicoes">
									<input type="text" id="quantidade_horas" ng-model="medicao.quantidade_horas" ng-change="$ctrl.changequantidadehoras(medicao)" gb-number name="quantidade_horas" class="disabled_select"  style="width: 35px" disabled/>
								</span>
							</div>
						</td>
						<td>
							<span ng-repeat="parcelafase in itemfaturamento.parcelafases">
								<span ng-repeat="medicao in parcelafase.medicoes">
									<input type="text" id="valor_total" name="valor_total" ng-model="medicao.valor_total" ng-change="$ctrl.calcularhorasmedicoes()" gb-money class="disabled_select" disabled/>
								</span>
							</span>
						</td>
						<td>
							<input type="text" id="valor_parcela" name="valor_parcela" ng-model="itemfaturamento.valor_parcela" class="disabled_select" disabled/>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th>Total</th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th>{{$ctrl.totalhoras}}</th>
						<th></th>
						<th>{{$ctrl.totalvalor}}</th>
					</tr>
				</tfoot>
			</table>
		</div>
		<button class="btn btn-primary" ng-show="$ctrl.listaitensfaturamento.length > 0">Enviar para aprovação</button>
		<button class="btn btn-primary pull-right" ng-show="$ctrl.listaitensfaturamento.length > 0">Enviar para faturamento</button>
	</div>
</div>

{%endverbatim%}

{%endblock%}