<meta charset="utf-8">
{% extends "base_page.html" %}

{% block script %}
	<script src="/static/js/apps/faturamento/contasreceber/contasreceber.js"></script>
	<script src="/static/js/apps/faturamento/contasreceber/contasreceber-service.js"></script>
	<script src="/static/js/apps/faturamento/parcela.js"></script>
	<script src="/static/js/apps/faturamento/parcela-services.js"></script>
	<script src="/static/js/apps/cadastros/valorhora/valorhora-services.js"></script>
	<script src="/static/js/commons/commons.js"></script>
	<script src="/static/js/angular/ui-bootstrap-tpls-2.2.0.min.js"></script>
	<script src="/static/js/jquery/priceformat/jquery.priceformat.min.js"></script>
{% endblock %}



{%block content%}

<style>

button.margin {
	margin-top: 21px
}

.app-modal-window .modal-dialog {
	  width: 100%;
	  height: 100%;
	  margin: 0;
	  padding: 0;
	}
	.modal-content {
	  height: auto;
	  min-height: 100%;
	  border-radius: 0;
	}

</style>

{%verbatim%}

<div ng-app="contasreceber"  ng-controller="ContasReceberController as $ctrl">

	<div class="panel panel-primary form-group-sm">
		<div class="panel-body">
			<form name="arguments">
				<div class="col-sm-1">
					<div class="form-group">
						<label for="total_orcamento">Demanda ID</label>
						<input type="number" class="form-control"/>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label for="mes">Mês</label>
						<input type="text" id="mes" name="mes" ng-model="$ctrl.arguments.mes" ui-mask="99/99/9999" model-view-value="true"  class="form-control"/>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label for="cliente">Cliente</label>
						<select type="text" id="cliente" name="cliente" class="form-control">
							<option value="">Selecione...</option>
						</select>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label for="status">Status</label>
						<select type="text" id="status" name="status" class="form-control">
							<option value="">Selecione...</option>
						</select>
					</div>
				</div>
				<button type="button" class="btn btn-sm btn-default margin" ng-click="$ctrl.pesquisar();">Pesquisar</button>
			</form>
		</div>
	</div>
	
	<table class="table table-sm table-bordered table-striped table-highlight">
		<thead>
			<tr class="active">
				<th>Cliente</th>
				<th>Demanda</th>
				<th>Data</th>
				<th></th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="contareceber in $ctrl.resultados" ng-click="$ctrl.abrircontasreceber(contareceber);">
				<td>
					{{contareceber.demanda.cliente.razao_social}}
				</td>
				<td>
					{{contareceber.demanda.nome_demanda}}
				</td>
				<td>
					{{contareceber.data_previsto_parcela}}
				</td>
				<td>
					<table class="table table-sm">	
						<thead>
							<tr>
								<th>
									Fase
								</th>
								<th>
									Valor
								</th>
							</tr>					
						<tbody>
							<tr ng-repeat="parcelafase in contareceber.parcelafases">
								<td>
									{{parcelafase.fase.descricao}}
								</td>
								<td>
									{{parcelafase.valor}}
								</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td>
					{{contareceber.valor_parcela}}
				</td>
			</tr>
		</tbody>
	</table>

</div>

{%endverbatim%}

{%endblock%}