<meta charset="utf-8">
{% extends "base_page.html" %}

{% block script %}
	<script src="/static/js/apps/cadastros/pessoa/pessoa.js"></script>
	<script src="/static/js/apps/cadastros/pessoa/pessoa-services.js"></script>
	<script src="/static/js/apps/cadastros/centrocusto/centrocusto-services.js"></script>
	<script src="/static/js/apps/recursos/recursos-services.js"></script>
	<script src="/static/js/angular/ui-bootstrap-tpls-2.2.0.min.js"></script>
	<script src="/static/js/jquery/priceformat/jquery.priceformat.min.js"></script>
	
	<script type="text/javascript">
	  	angular.bootstrap(document.getElementById('pessoa'), ['pessoa']);
 	</script>
	
{% endblock %}

{%block content%}

<script type="text/javascript">
{% if pessoa_id %}
	var pessoa_id = {{pessoa_id}}
{% else %}
	var pessoa_id = null
{% endif %}
</script>

{%verbatim%}

<style>

button.exclude {
	margin: 2px 0 0 0;
    padding: 6px;
    line-height: 6px;
    position: relative;
    bottom: 10px;
    left: 382px;
}

</style>

<div id="pessoa" ng-controller="PessoaController as $ctrl" class="ng-hide" ng-show="$ctrl.show">
	
	<form name="cadastro">
		<ul class="nav nav-tabs">
		  <li class="active"><a data-toggle="tab" href="#dadoscadastro">Cadastro de pessoa</a></li>
		  <li ng-show="$ctrl.pessoa.tipo=='J'"><a data-toggle="tab" href="#telefonecontato">Telefone de contato</a></li>
		  <li ng-show="$ctrl.pessoa.pessoa_fisica.prestador.tipo_prestador == 'S' || $ctrl.pessoa.pessoa_fisica.prestador.tipo_prestador == 'A' || $ctrl.pessoa.pessoa_fisica.prestador.tipo_prestador == 'F'"><a data-toggle="tab" href="#dadosprestador">Prestador</a></li>
		</ul>
		<div class="tab-content">
			<div id="dadoscadastro" class="tab-pane in active">
				<div class="panel panel-primary form-group-sm margin-top"style="margin-top: 15px">
					<div class="panel-body">
						<div>
							<div class="row">
								<div class="col-sm-2">
									<div class="form-group">
										<label class="control-label" for="id">Nome/Razão Social</label>
										<input type="text" ng-model="$ctrl.pessoa.nome_razao_social" class="form-control" maxlength="30" required/>
									</div>
								</div>
								<div class="col-sm-1">
									<div class="form-group">
										<label class="control-label" for="id">Tipo</label>
										<select class="form-control" ng-model = "$ctrl.pessoa.tipo" required>
											<option value="">Selecione...</option>
											<option value="F">PF</option>
											<option value="J">PJ</option>
										</select>
									</div>
								</div>
								<div class="col-sm-2" style="width: 130px">
									<div class="form-group">
										<label class="control-label" for="id">Tipo de pessoa</label>
										<select class="form-control" ng-model = "$ctrl.pessoa.tipo_pessoa" required>
											<option value="">Selecione...</option>
											<option value="C">Cliente</option>
											<option value="F">Fornecedor</option>
											<option value="A">Ambos</option>
										</select>
									</div>
								</div>
								<div class="col-sm-2" style="width: 130px">
									<div class="form-group">
										<label class="control-label" for="id">Centro de custo</label>
										<select class="form-control" ng-model = "$ctrl.pessoa.centro_custo.id" ng-options="c.id as c.nome for c in $ctrl.listacentrocusto" required>
											<option value="">Selecione...</option>
										</select>
									</div>
								</div>
								<div class="col-sm-2" style="width: 130px">
									<div class="form-group">
										<label class="control-label" for="id">Data contratação</label>
										<input type="text" class="form-control" ng-model = "$ctrl.pessoa.data_contratacao" ui-mask="99/99/9999" model-view-value="true" required/>
									</div>
								</div>
								<div class="col-sm-2" style="width: 130px">
									<div class="form-group">
										<label class="control-label" for="id">Data da rescisão</label>
										<input type="text" class="form-control" ng-model = "$ctrl.pessoa.data_rescisao" ui-mask="99/99/9999" model-view-value="true"/>
									</div>
								</div>
								<div class="col-sm-2" style="width: 130px">
									<div class="form-group">
										<label class="control-label" for="id">Data fim aditivo</label>
										<input type="text" class="form-control" ng-model = "$ctrl.pessoa.data_fim_aditivo" ui-mask="99/99/9999" model-view-value="true"/>
									</div>
								</div>
								<div class="col-sm-2" style="width: 130px">
									<div class="form-group">
										<label class="control-label" for="id">Renegociação</label>
										<input type="text" class="form-control" ng-model = "$ctrl.pessoa.data_renegociacao_valor" ui-mask="99/99/9999" model-view-value="true"/>
									</div>
								</div>
								<div class="col-sm-2" style="width: 130px">
									<div class="form-group">
										<label class="control-label" for="id">Status</label>
										<select class="form-control" ng-model = "$ctrl.pessoa.status" required>
											<option value="">Selecione...</option>
											<option value="A">Ativo</option>
											<option value="I">Inativo</option>
										</select>
									</div>
								</div>
								<div class="col-sm-2" ng-show="$ctrl.pessoa.tipo=='F' && ($ctrl.pessoa.tipo_pessoa == 'F' || $ctrl.pessoa.tipo_pessoa == 'A')">
									<div class="form-group">
										<label class="control-label" for="id">Tipo de prestador</label>
										<select class="form-control" ng-model = "$ctrl.pessoa.pessoa_fisica.prestador.tipo_prestador">
											<option value="">Selecione...</option>
											<option value="S">Sócio</option>
											<option value="A">Autonomo</option>
											<option value="F">Funcionário</option>
											<option value="P">PJ</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row" ng-show="$ctrl.pessoa.tipo_pessoa == 'C' || $ctrl.pessoa.tipo_pessoa == 'A'">
								<div class="col-sm-2" style="width: 158px">
									<div class="form-group">
										<label class="control-label" for="id">Dias para faturamento</label>
										<input type="number" class="form-control" ng-model = "$ctrl.pessoa.dias_faturamento" style="width: 80px"/>
									</div>
								</div>
								<div class="col-sm-2" style="width: 152px" ng-show="$ctrl.pessoa.tipo_pessoa == 'C' || $ctrl.pessoa.tipo_pessoa == 'A'">
									<div class="form-group">
										<label class="control-label" for="id">Dias para pagamento</label>
										<input type="number" class="form-control" ng-model = "$ctrl.dias_pagamento" style="width: 80px"/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-primary form-group-sm margin-top" ng-show="$ctrl.pessoa.tipo=='F'">
					<div class="panel-heading">
						Dados de pessoa física
					</div>
					<div class="panel-body">
						<div class="col-sm-1">
							<div class="form-group">
								<label class="control-label" for="id">RG</label>
								<input type="text" class="form-control" ng-model = "$ctrl.pessoa.pessoa_fisica.rg" ui-mask="99.999.999" model-view-value="true" ng-required="$ctrl.pessoa.tipo=='F'"/>
							</div>
						</div>
						<div class="col-sm-1" style="width: 115px">
							<div class="form-group">
								<label class="control-label" for="id">Órgão emissor</label>
								<input type="text" class="form-control" ng-model = "$ctrl.pessoa.pessoa_fisica.orgao_emissor" maxlength="6" style="width: 80px" ng-required="$ctrl.pessoa.tipo=='F'"/>
							</div>
						</div>
						<div class="col-sm-1" style="width: 110px">
							<div class="form-group">
								<label class="control-label" for="id">CPF</label>
								<input type="text" class="form-control" ng-model = "$ctrl.pessoa.pessoa_fisica.cpf" gb-cpf maxlength="16" ng-required="$ctrl.pessoa.tipo=='F'"/>
							</div>
						</div>
						<div class="col-sm-1" style="width: 136px">
							<div class="form-group">
								<label class="control-label" for="id">Data de expedição</label>
								<input type="text" class="form-control" ng-model = "$ctrl.pessoa.pessoa_fisica.data_expedicao" ui-mask="99/99/9999" model-view-value="true" ng-required="$ctrl.pessoa.tipo=='F'"/>
							</div>
						</div>
						<div class="col-sm-1" style="width: 231px">
							<div class="form-group">
								<label class="control-label" for="id">Email</label>
								<input type="email" class="form-control" ng-model="$ctrl.pessoa.pessoa_fisica.email"/>
							</div>
						</div>
						<div class="col-sm-1" style="width: 144px">
							<div class="form-group">
								<label class="control-label" for="id">Data de nascimento</label>
								<input type="text" class="form-control" ng-model = "$ctrl.pessoa.pessoa_fisica.data_nascimento" ui-mask="99/99/9999" model-view-value="true" ng-required="$ctrl.pessoa.tipo=='F'"/>
							</div>
						</div>
						<div class="col-sm-1" style="width: 128px">
							<div class="form-group">
								<label class="control-label" for="id">Estado civil</label>
								<select class="form-control" ng-model = "$ctrl.pessoa.pessoa_fisica.estado_civil" ng-required="$ctrl.pessoa.tipo=='F'">
									<option value="">Selecione...</option>
									<option value="S">Solteiro</option>
									<option value="C">Casado</option>
									<option value="D">Divorciado</option>
								</select>
							</div>
						</div>
						<div class="col-sm-1" style="width: 179px">
							<div class="form-group">
								<label class="control-label" for="id">Naturalidade</label>
								<input type="text" class="form-control" ng-model = "$ctrl.pessoa.pessoa_fisica.naturalidade" ng-required="$ctrl.pessoa.tipo=='F'"/>
							</div>
						</div>
						<div class="col-sm-1" style="width: 179px">
							<div class="form-group">
								<label class="control-label" for="id">Nacionalidade</label>
								<input type="text" class="form-control" ng-model = "$ctrl.pessoa.pessoa_fisica.nacionalidade" ng-required="$ctrl.pessoa.tipo=='F'"/>
							</div>
						</div>
						<div class="col-sm-1" style="width: 123px">
							<div class="form-group">
								<label class="control-label" for="id">Sexo</label>
								<select class="form-control" ng-model = "$ctrl.pessoa.pessoa_fisica.sexo" ng-required="$ctrl.pessoa.tipo=='F'">
									<option value="">Selecione...</option>
									<option value="M">Masculino</option>
									<option value="F">Feminino</option>
								</select>
							</div>
						</div>
						<div class="col-sm-1" style="width: 143px">
							<div class="form-group">
								<label class="control-label" for="id">Grau de instrução</label>
								<select class="form-control" ng-model = "$ctrl.pessoa.pessoa_fisica.grau_instrucao" ng-required="$ctrl.pessoa.tipo=='F'">
									<option value="">Selecione...</option>
									<option value="1G">Primeiro grau</option>
									<option value="2G">Segundo grau</option>
									<option value="GR">Graduado</option>
									<option value="PO">Pós-graduado</option>
									<option value="DO">Doutorado</option>
									<option value="ME">Mestrado</option>
								</select>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="form-group">
								<label class="control-label" for="id">Nome do pai</label>
								<input type="text" class="form-control" ng-model = "$ctrl.pessoa.pessoa_fisica.nome_pai" maxlength="30"/>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="form-group">
								<label class="control-label" for="id">Nome da mãe</label>
								<input type="text" class="form-control" ng-model = "$ctrl.pessoa.pessoa_fisica.nome_mae" maxlength="30" ng-required="$ctrl.pessoa.tipo=='F'"/>
							</div>
						</div>
						<div class="col-sm-1" style="width: 127px">
							<div class="form-group">
								<label class="control-label" for="id">Deficiência</label>
								<select class="form-control" ng-model = "$ctrl.pessoa.pessoa_fisica.deficiencia">
									<option value="">Selecione...</option>
									<option value="F">Física</option>
									<option value="A">Auditiva</option>
									<option value="V">Visual</option>
									<option value="I">Intelectual</option>
									<option value="M">Mental</option>
									<option value="R">Reabilitado</option>
								</select>
							</div>
						</div>
						<div class="col-sm-2" style="width: 122px">
							<div class="form-group">
								<label class="control-label" for="id">PIS</label>
								<input type="text" class="form-control" ng-model="$ctrl.pessoa.pessoa_fisica.num_pis" maxlength="14" ng-required="$ctrl.pessoa.tipo=='F'"/>
							</div>
						</div>
						<div class="col-sm-1" style="width: 144px">
							<div class="form-group">
								<label class="control-label" for="id">Data emição pis</label>
								<input type="text" class="form-control" ng-model = "$ctrl.pessoa.pessoa_fisica.data_emicao_pis" ui-mask="99/99/9999" model-view-value="true" ng-required="$ctrl.pessoa.tipo=='F'"/>
							</div>
						</div>
						<div class="col-sm-2" style="width: 174px">
							<div class="form-group">
								<label class="control-label" for="id">Número do título eleitoral</label>
								<input type="text" class="form-control" ng-model = "$ctrl.pessoa.pessoa_fisica.num_titulo_eleitoral" maxlength="13" ng-required="$ctrl.pessoa.tipo=='F'"/>
							</div>
						</div>
						<div class="col-sm-1">
							<div class="form-group">
								<label class="control-label" for="id">Zona</label>
								<input type="text" class="form-control" ng-model="$ctrl.pessoa.pessoa_fisica.zona" maxlength="4" ng-required="$ctrl.pessoa.tipo=='F'"/>
							</div>
						</div>
						<div class="col-sm-1">
							<div class="form-group">
								<label class="control-label" for="id">Seção</label>
								<input type="text" class="form-control" ng-model="$ctrl.pessoa.pessoa_fisica.secao" maxlength="2" ng-required="$ctrl.pessoa.tipo=='F'"/>
							</div>
						</div>
						<div class="col-sm-1" style="width: 136px">
							<div class="form-group">
								<label class="control-label" for="id">Documento militar</label>
								<input type="text" class="form-control" ng-model="$ctrl.pessoa.pessoa_fisica.doc_militar" maxlength="6" ng-required="$ctrl.pessoa.tipo=='F'"/>
							</div>
						</div>
						<div class="col-sm-1" style="width: 66px">
							<div class="form-group">
								<label class="control-label" for="id">Categoria</label>
								<input type="text" class="form-control" ng-model="$ctrl.pessoa.pessoa_fisica.categoria_doc_militar" maxlength="2" ng-required="$ctrl.pessoa.tipo=='F'"/>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-primary form-group-sm margin-top" ng-show="$ctrl.pessoa.tipo=='J'">
					<div class="panel-heading">
						Dados de pessoa jurídica
					</div>
					<div class="panel-body">
						<div class="col-sm-1" style="width: 149px">
							<div class="form-group">
								<label class="control-label" for="id">CNPJ</label>
								<input type="text" class="form-control" ng-model="$ctrl.pessoa.pessoa_juridica.cnpj" gb-cnpj ng-required="$ctrl.pessoa.tipo=='J'"/>
							</div>
						</div>
						<div class="col-sm-1" style="width: 149px">
							<div class="form-group">
								<label class="control-label" for="id">Nome fantasia</label>
								<input type="text" class="form-control" ng-model="$ctrl.pessoa.pessoa_juridica.nome_fantasia" maxlength="30" ng-required="$ctrl.pessoa.tipo=='J'"/>
							</div>
						</div>
						<div class="col-sm-1" style="width: 149px">
							<div class="form-group">
								<label class="control-label" for="id">Inscrição estadual</label>
								<input type="text" class="form-control" ng-model="$ctrl.pessoa.pessoa_juridica.inscricao_estadual" maxlength="30"/>
							</div>
						</div>
						<div class="col-sm-1" style="width: 149px">
							<div class="form-group">
								<label class="control-label" for="id">Inscrição municipal</label>
								<input type="text" class="form-control" ng-model="$ctrl.pessoa.pessoa_juridica.inscricao_municipal" maxlength="30"/>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-primary form-group-sm" ng-show="$ctrl.pessoa.tipo=='F' || $ctrl.pessoa.tipo=='J'">
					<div class="panel-heading">
						Endereço
					</div>
					<div class="panel-body">
						<button class="btn btn-sm btn-primary" style="margin-bottom: 8px" ng-click="$ctrl.adicionarendereco()">Adicionar</button>
			    		<table class="table table-sm table-bordered table-striped table-highlight" style="font-size: 12px">
			    			<thead>
			    				<tr>
			    					<th>Tipo</th>
			    					<th>Logradouro</th>
			    					<th>Número</th>
			    					<th>Complemento</th>
			    					<th>Cidade</th>
			    					<th>Estado</th>
			    					<th>CEP</th>
			    					<th></th>
			    				</tr>
			    			</thead>
			    			<tbody>
			    				<tr ng-repeat="endereco in $ctrl.pessoa.enderecos" ng-show="!endereco.remover">
			    					<td>
			    						<select ng-model="endereco.tipo" class="form-control" ng-required="!endereco.remover">
			    							<option value="">Selecione...</option>
			    							<option value="RE">Residencial</option>
			    							<option value="CO">Comercial</option>
			    							<option value="CB">Cobrança</option>
			    							<option value="EN">Entrega</option>
			    						</select>
			    					</td>
			    					<td>
			    						<input type="text" class="form-control" ng-model="endereco.logradouro" ng-required="!endereco.remover">
			    					</td>
			    					<td>
			    						<input type="text" class="form-control" ng-model="endereco.numero" ng-required="!endereco.remover">
			    					</td>
			    					<td>
			    						<input type="text" class="form-control" ng-model="endereco.complemento">
			    					</td>
			    					<td>
			    						<input type="text" class="form-control" ng-model="endereco.cidade" ng-required="!endereco.remover">
			    					</td>
			    					<td>
			    						<input type="text" class="form-control" ng-model="endereco.estado" ng-required="!endereco.remover">
			    					</td>
			    					<td>
			    						<input type="text" class="form-control" ng-model="endereco.cep" ng-required="!endereco.remover">
			    					</td>
			    					<td>
										<button type="button" class="btn btn-default" ng-click="$ctrl.remover(endereco, $ctrl.pessoa.enderecos)">
											<span class="glyphicon glyphicon-trash"></span>
										</button>
									</td>
			    				</tr>
			    			</tbody>
			    		</table>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="panel panel-primary form-group-sm" ng-show="$ctrl.pessoa.tipo=='F' || $ctrl.pessoa.tipo=='J'">
						<div class="panel-heading">
							Telefone
						</div>
						<div class="panel-body">
							<button class="btn btn-sm btn-primary" style="margin-bottom: 8px" ng-click="$ctrl.adicionartelefone()">Adicionar</button>
							<table class="table table-sm table-bordered table-striped table-highlight"  style="font-size: 12px">
								<thead>
									<tr>
										<th>Tipo</th>
										<th>Número</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="telefone in $ctrl.pessoa.telefones" ng-show="!telefone.remover">
										<td>
											<select class="form-control" ng-model="telefone.tipo" ng-required="!telefone.remover">
												<option value="">Selecione...</option>
												<option value="R">Residencial</option>
												<option value="C">Comercial</option>
												<option value="M">Celular</option>
											</select>
										</td>
										<td>
											<input class="form-control" ng-model="telefone.numero" ui-mask="{{telefone.tipo == 'M' ? '(+99) 99 99999-9999' : '(+99) 99 9999-9999'}}" model-view-value="true" style="width: 100%" ng-required="!telefone.remover"/>
										</td>
										<td>
											<button type="button" class="btn btn-default" ng-click="$ctrl.remover(telefone, $ctrl.pessoa.telefones)">
												<span class="glyphicon glyphicon-trash"></span>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-sm-9">
					<div class="panel panel-primary form-group-sm" ng-show="$ctrl.pessoa.tipo=='F' || $ctrl.pessoa.tipo=='J'">
						<div class="panel-heading">
							Dados bancários
						</div>
						<div class="panel-body">
							<button class="btn btn-sm btn-primary" style="margin-bottom: 8px" ng-click="$ctrl.adicionardadosbancarios()">Adicionar</button>
							<table class="table table-sm table-bordered table-striped table-highlight"  style="font-size: 12px">
								<thead>
									<tr>
										<th>Tipo</th>
										<th>Nome do banco</th>
										<th>Código do banco</th>
										<th>Código da agência</th>
										<th>Numero da conta</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="dado_bancario in $ctrl.pessoa.dados_bancarios" ng-show="!dado_bancario.remover">
										<td>
											<select class="form-control" ng-model="dado_bancario.tipo_conta" ng-required="!dado_bancario.remover">
												<option value="">Selecione...</option>
												<option value="S">Conta salário</option>
												<option value="C">Conta corrente</option>
												<option value="P">Conta poupança</option>
											</select>
										</td>
										<td>
											<input type="text" class="form-control" ng-model="dado_bancario.nome_banco" ng-required="!dado_bancario.remover"/>
										</td>
										<td>
											<input type="text" class="form-control" ng-model="dado_bancario.cod_banco" ng-required="!dado_bancario.remover"/>
										</td>
										<td>
											<input type="text" class="form-control" ng-model="dado_bancario.cod_agencia" ng-change="$ctrl.changenumeroconta(dado_bancario)" ng-required="!dado_bancario.remover"/>
										</td>
										<td>
											<input type="text" class="form-control" ng-model="dado_bancario.num_conta" ng-required="!dado_bancario.remover"/>
										</td>
										<td>
											<button type="button" class="btn btn-default" ng-click="$ctrl.remover(dado_bancario, $ctrl.pessoa.dados_bancarios)">
												<span class="glyphicon glyphicon-trash"></span>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div id="telefonecontato" class="tab-pane" >
				<div class="row">
					<div class="col-sm-3">
						<button class="btn btn-primary" ng-click="$ctrl.adicionarcontato()" style="margin: 15px 0px 15px 0px">Adicionar</button>
					</div>
				</div>
				<div class="row">
					<div>
						<div class="col-sm-4" ng-repeat="contato in $ctrl.pessoa.pessoa_juridica.contatos">
							<div class="panel panel-primary form-group-sm" ng-show="!contato.remover">
								<div class="panel-heading" style="height: 25px">	
									<button class="btn btn-danger exclude" ng-click="$ctrl.remover(contato)">x</button>
								</div>
								<div class="panel-body">
									<div class="form-group">
										<label class="control-label">Nome do contato</label>
										<input type="text" class="form-control" ng-model="contato.nome" ng-required="!contato.remover"> 
									</div>
									<div class="form-group">
										<label class="control-label">Email</label>
										<input type="email" class="form-control" ng-model="contato.email" ng-required="!contato.remover"> 
									</div>
									<button class="btn btn-primary" ng-click="$ctrl.adicionartelefonecontato(contato)" style="margin-bottom: 15px">Adicionar</button>
									<table class="table table-sm table-bordered table-striped table-highlight" >
										<thead>
											<tr>
												<th>Tipo</th>
												<th>Número</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="telefone in contato.telefones" ng-show="!telefone.remover">
												<td>
													<select class="form-control" ng-model="telefone.tipo" ng-required="!telefone.remover && !contato.remover">
														<option value="">Selecione...</option>
														<option value="R">Residencial</option>
														<option value="C">Comercial</option>
														<option value="M">Celular</option>
													</select>
												</td>
												<td>
													<input class="form-control" ng-model="telefone.numero" ui-mask="{{telefone.tipo == 'M' ? '(+99) 99 99999-9999' : '(+99) 99 9999-9999'}}" model-view-value="true" style="width: 100%" ng-required="!telefone.remover && !contato.remover"/>
												</td>
												<td>
													<button type="button" class="btn btn-default" ng-click="$ctrl.remover(telefone, contato.telefones)">
														<span class="glyphicon glyphicon-trash"></span>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="dadosprestador" class="tab-pane">
				<div class="panel panel-primary form-group-sm" ng-show="$ctrl.pessoa.tipo=='F' || $ctrl.pessoa.tipo=='J'" style="margin-top: 15px">
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-1" style="width: 164px">
								<div class="form-group">
									<label class="control-label">Data exame admicional</label>
									<input class="form-control"  ng-model="$ctrl.pessoa.pessoa_fisica.prestador.data_exame_admissional" ui-mask="99/99/9999" model-view-value="true"> 
								</div>
							</div>
							<div class="col-sm-1" style="width: 164px">
								<div class="form-group">
									<label class="control-label">Data exame demicional</label>
									<input class="form-control" ng-model="$ctrl.pessoa.pessoa_fisica.prestador.data_exame_demissional" ui-mask="99/99/9999" model-view-value="true"> 
								</div>
							</div>
							<div class="col-sm-1" style="width: 193px">
								<div class="form-group">
									<label class="control-label">Data último exame periódico</label>
									<input class="form-control" ng-model="$ctrl.pessoa.pessoa_fisica.prestador.data_ultimo_exame_periodico" ui-mask="99/99/9999" model-view-value="true"> 
								</div>
							</div>
							<div class="col-sm-1" style="width: 164px">
								<div class="form-group">
									<label class="control-label">Data última avaliação</label>
									<input class="form-control" ng-model="$ctrl.pessoa.pessoa_fisica.prestador.data_ultima_avaliacao" ui-mask="99/99/9999" model-view-value="true"> 
								</div>
							</div>
							<div class="col-sm-1" style="width: 193px">
								<div class="form-group">
									<label class="control-label">Data próxima avaliação</label>
									<input class="form-control" ng-model="$ctrl.pessoa.pessoa_fisica.prestador.data_proxima_avaliacao" ui-mask="99/99/9999" model-view-value="true"> 
								</div>
							</div>
							<div class="col-sm-2">
								<div class="form-group">
								 	<label for="coordenador">Cargo</label>
								 	<div class="input-group">
									    <select id="cargo" name="cargo" class="form-control" ng-model="$ctrl.pessoa.pessoa_fisica.prestador.cargo.id" ng-options="c.id as c.nome_cargo for c in $ctrl.listacargos">
									    	<option value="">Selecione um cargo...</option>
									    </select>
									    <span class="input-group-btn">
									       	<button class="btn btn-sm btn-secondary" type="button" ng-click="$ctrl.open()" style="height: 26px;">+</button>
									   	</span>
								    </div>
							 	</div>
							</div>
							<div class="col-sm-12">
								<div class="form-group">
									<label class="control-label">Dados complementares</label>
									<textarea class="form-control" ng-model="$ctrl.pessoa.pessoa_fisica.prestador.dados_complementares"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12" style="margin-bottom: 15px; padding-left: 0px">
			<button class="btn btn-primary" ng-click="$ctrl.salvar()" ng-disabled="cadastro.$invalid" >Salvar</button>
			<button class="btn btn-danger" ng-click="$ctrl.deletarpessoa()">Deletar</button>
		</div>
	</form>
	
	<script type="text/ng-template" id="myModalContent.html">
		<div class="modal-header">
			<h3 class="modal-title" id="modal-title">Cargos</h3>
		</div>
		<div class="modal-body" id="modal-body">
			<div class="form-group">
				<label for="numero_proposta">Nome do cargo</label>
				<input type="text" id="numero_proposta" class="form-control" ng-model="$ctrl.nome_cargo" placeholder="Nome do cargo"/>
			</div>
			<button class="btn btn-primary" type="button" ng-click="$ctrl.salvar()">Salvar</button>
			<button class="btn btn-danger" type="button" ng-show="$ctrl.cargo.id" ng-click="$ctrl.deletar()">Deletar</button>
			<table class="table table-hover">
 				<thead>
 					<tr>
	  					<th>Nome do cargo</th>
 					</tr>
 				</thead>
 				<tbody>
 					<tr ng-repeat="cargo in $ctrl.listacargos" ng-click="$ctrl.edit(cargo)">
 						<td ng-bind="cargo.nome_cargo"></td>
 					</tr>
 				</tbody>
 			</table>
		</div>
		<div class="modal-footer">
    		<button class="btn btn-primary" type="button" ng-click="$ctrl.close()">Sair</button>
		</div> 
	</script>
	
</div> 
{%endverbatim%}

{%endblock%}